/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Navigation - Min-Width 900px */
/* Header Text */
/* Header Text - Min-Width 800px */
/* --------- Awesome Apps --------- */
/* Awesome Apps - Min-Width 800px */
/* --------- Common Styles --------- */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

/* --------- Header --------- */
/* Logo-Nav */
.logo-nav {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25% 75%;
  position: relative;
  height: 65px;
  padding-top: 15px;
}
.logo-nav__logo {
  font-size: 44px;
  font-weight: 700;
  color: #fcae61;
}
.logo-nav__logo span {
  color: #242f51;
}
.logo-nav__nav {
  display: none;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 100;
}
.logo-nav__nav.active {
  display: block;
}
.logo-nav .nav__item {
  color: #5a627c;
  line-height: 2.5em;
  display: block;
  padding-left: 1em;
  background-color: #ccc;
}
.logo-nav .nav__item:hover {
  background-color: #fcae61;
  transition: background-color 0.1s linear;
}

/* Nav-Toggle */
.nav-toggle {
  width: 35px;
  height: 50px;
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 20px;
}
.nav-toggle:focus {
  outline: none;
}
.nav-toggle__item {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background 0.2s linear;
}
.nav-toggle__item::before, .nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}
.nav-toggle__item::before {
  top: -10px;
}
.nav-toggle__item::after {
  bottom: -10px;
}
.nav-toggle.active .nav-toggle__item {
  background: none;
}
.nav-toggle.active .nav-toggle__item::before {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.nav-toggle.active .nav-toggle__item::after {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Min-Width 900px */
@media (min-width: 900px) {
  /* Navigation */
  .logo-nav {
    padding-top: 115px;
  }
  .logo-nav__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
  }
  .logo-nav .nav__item {
    display: inline-block;
    line-height: 3em;
    background: none;
  }
  .logo-nav .nav__item:hover {
    background: none;
    color: #000;
  }
  .logo-nav .current {
    background-color: #2500f9;
    color: #fff;
    font-weight: 700;
    padding: 0 40px;
    border-radius: 20px;
  }
  .logo-nav .current:hover {
    background: #2500f9;
    color: #ccc;
  }

  .nav-toggle {
    display: none;
  }
}
/* Header Text */
.header-text-wrap {
  max-height: 1120px;
  background: url(../img/header-bg.png) top/cover no-repeat;
  margin-top: 70px;
  color: #242f51;
}
.header-text-wrap .header-text-phone {
  display: grid;
  justify-items: center;
}
.header-text-wrap .header-text-phone .header-text-block__editors-choice {
  background: #e2eaed url(../img/editors-choice.png) left no-repeat;
  padding-left: 45px;
  font-size: 14px;
  line-height: 37px;
  border-radius: 20px;
}
.header-text-wrap .header-text-phone .header-text-block__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  margin: 10px 0 20px 0;
}
.header-text-wrap .header-text-phone .header-text-block__slogan {
  margin-bottom: 30px;
}
.header-text-wrap .header-text-phone .header-text-block__demo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-text-wrap .header-text-phone .header-text-block__demo-wrap .demo-wrap__button {
  display: inline-block;
  background-color: #2500f9;
  color: #fff;
  font-weight: 700;
  line-height: 3em;
  border-radius: 20px;
  padding: 0 40px;
  width: 175px;
}
.header-text-wrap .header-text-phone .header-text-block__demo-wrap .demo-wrap__button:hover {
  background: #2500f9;
  color: #ccc;
}
.header-text-wrap .header-text-phone .header-text-block__demo-wrap .demo-wrap__watch-demo {
  color: #2500f9;
  margin-top: 25px;
}
.header-text-wrap .header-phone {
  max-width: 100%;
  height: auto;
}

/* Min-Width 600px */
@media (min-width: 600px) {
  .header-text-wrap {
    margin-top: 30px;
  }
  .header-text-wrap .header-text-phone {
    grid-template-columns: 51% 37%;
    grid-column-gap: 3%;
    justify-content: end;
    align-items: center;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  .header-text-wrap {
    margin-top: 70px;
  }
  .header-text-wrap .header-text-phone .header-text-block__editors-choice {
    width: 367px;
    font-size: 18px;
  }
  .header-text-wrap .header-text-phone .header-text-block__title {
    font-size: 58px;
    line-height: 75px;
  }
  .header-text-wrap .header-text-phone .header-text-block__demo-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 350px;
  }
}
/* Min-Width 900px */
@media (min-width: 900px) {
  .header-text-wrap .header-text-phone .header-text-block__title {
    font-size: 60px;
  }
}
/* --------- Logos --------- */
.logos-wrap {
  padding-top: 116px;
}
.logos-wrap .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos-wrap .logos-title {
  margin-bottom: 36px;
}
.logos-wrap .logos-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos-wrap .logos-images__item {
  padding-bottom: 30px;
}

/* Min-Width 400px */
@media (min-width: 400px) {
  .logos-wrap .logos-images {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .logos-wrap .logos-images__item {
    padding-right: 40px;
  }
}
/* --------- Awesome Apps --------- */
.awesome-apps-wrap {
  padding-top: 50px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  color: #242f51;
}
.awesome-apps-wrap .awesome-apps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.awesome-apps-wrap .awesome-apps__phone img {
  max-width: 100%;
  height: auto;
}
.awesome-apps-wrap .awesome-apps__advantages {
  padding-top: 50px;
  max-width: 440px;
  padding: 0 15px;
}
.awesome-apps-wrap .awesome-apps__advantages .advantages__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  max-width: 100%;
}
.awesome-apps-wrap .awesome-apps__advantages .advantages__text {
  padding: 20px 0 50px 0;
  color: #616368;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance, .awesome-apps-wrap .awesome-apps__advantages .prototyping, .awesome-apps-wrap .awesome-apps__advantages .vector-editing {
  padding-top: 120px;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance, .awesome-apps-wrap .awesome-apps__advantages .prototyping {
  margin-bottom: 30px;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance {
  background: url(../img/awesome/fast-performance.png) center top no-repeat;
}
.awesome-apps-wrap .awesome-apps__advantages .prototyping {
  background: url(../img/awesome/prototyping.png) center top no-repeat;
}
.awesome-apps-wrap .awesome-apps__advantages .vector-editing {
  background: url(../img/awesome/vector-editing.png) center top no-repeat;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance__title, .awesome-apps-wrap .awesome-apps__advantages .prototyping__title, .awesome-apps-wrap .awesome-apps__advantages .vector-editing__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 58px;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance__text, .awesome-apps-wrap .awesome-apps__advantages .prototyping__text, .awesome-apps-wrap .awesome-apps__advantages .vector-editing__text {
  color: #616368;
  max-width: 100%;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance__title {
  color: #f55767;
}
.awesome-apps-wrap .awesome-apps__advantages .prototyping__title {
  color: #2563ff;
}
.awesome-apps-wrap .awesome-apps__advantages .vector-editing__title {
  color: #40975f;
}

/* Min-Width 600px */
@media (min-width: 600px) {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap {
    padding-top: 100px;
  }
  .awesome-apps-wrap .awesome-apps {
    flex-direction: row;
    align-items: flex-start;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .advantages__title {
    font-size: 36px;
    line-height: 46px;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .fast-performance, .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .prototyping, .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .vector-editing {
    padding-top: 0;
    padding-left: 120px;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .fast-performance {
    background-position: left center;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .prototyping {
    background-position: left center;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .vector-editing {
    background-position: left center;
  }
}
