/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Navigation - Min-Width 900px */
/* Header Text */
/* Header Text - Min-Width 800px */
/* --------- Awesome Apps --------- */
/* Awesome Apps - Min-Width 800px */
/* Smart Jackpots */
/* Smart Jackpots - Min-Width 600px */
/* Smart Jackpots - Min-Width 800px */
/* --------- Automatic Payouts --------- */
/* Automatic Payouts - Min-Width 600px */
/* Automatic Payouts - Min-Width 800px */
/* --------- Designed --------- */
/* Designed - Min-Width 800px */
/* --------- Why Choose --------- */
/* Why Choose - Min-Width 800px */
/* --------- Awesome Features --------- */
/* --------- Client Satisfaction --------- */
/* --------- Frequently Asked Questions --------- */
/* --------- Common Styles --------- */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

.awesome-features-wrap .prices .prices__item .prices__footer .prices__btn, .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__btn, .designed-section .designed-wrap .designed .designed-content .designed-content__btn, .header-text-wrap .header-text-phone .header-text-block__demo-wrap .demo-wrap__button {
  display: inline-block;
  background-color: #2500f9;
  color: #fff;
  font-weight: 700;
  line-height: 3em;
  border-radius: 20px;
  padding: 0 40px;
  width: 175px;
}
.awesome-features-wrap .prices .prices__item .prices__footer .prices__btn:hover, .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__btn:hover, .designed-section .designed-wrap .designed .designed-content .designed-content__btn:hover, .header-text-wrap .header-text-phone .header-text-block__demo-wrap .demo-wrap__button:hover {
  color: #ccc;
}

/* --------- Header --------- */
/* Logo-Nav */
.logo-nav {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25% 75%;
  position: relative;
  height: 65px;
  padding-top: 15px;
}
.logo-nav__logo {
  font-size: 44px;
  font-weight: 700;
  color: #fcae61;
}
.logo-nav__logo span {
  color: #242f51;
}
.logo-nav__nav {
  display: none;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 100;
}
.logo-nav__nav.active {
  display: block;
}
.logo-nav .nav__item {
  color: #5a627c;
  line-height: 2.5em;
  display: block;
  padding-left: 1em;
  background-color: #ccc;
}
.logo-nav .nav__item:hover {
  background-color: #fcae61;
  transition: background-color 0.1s linear;
}

/* Nav-Toggle */
.nav-toggle {
  width: 35px;
  height: 50px;
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 20px;
}
.nav-toggle:focus {
  outline: none;
}
.nav-toggle__item {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background 0.2s linear;
}
.nav-toggle__item::before, .nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}
.nav-toggle__item::before {
  top: -10px;
}
.nav-toggle__item::after {
  bottom: -10px;
}
.nav-toggle.active .nav-toggle__item {
  background: none;
}
.nav-toggle.active .nav-toggle__item::before {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.nav-toggle.active .nav-toggle__item::after {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Min-Width 900px */
@media (min-width: 900px) {
  /* Navigation */
  .logo-nav {
    padding-top: 115px;
  }
  .logo-nav__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
  }
  .logo-nav .nav__item {
    display: inline-block;
    line-height: 3em;
    background: none;
  }
  .logo-nav .nav__item:hover {
    background: none;
    color: #000;
  }
  .logo-nav .current {
    background-color: #2500f9;
    color: #fff;
    font-weight: 700;
    padding: 0 40px;
    border-radius: 20px;
  }
  .logo-nav .current:hover {
    background: #2500f9;
    color: #ccc;
  }

  .nav-toggle {
    display: none;
  }
}
/* Header Text */
.header-text-wrap {
  max-height: 1120px;
  background: url(../img/header-bg.png) top/cover no-repeat;
  margin-top: 70px;
  color: #242f51;
}
.header-text-wrap .header-text-phone {
  display: grid;
  justify-items: center;
}
.header-text-wrap .header-text-phone .header-text-block__editors-choice {
  background: #e2eaed url(../img/editors-choice.png) left no-repeat;
  padding-left: 45px;
  font-size: 14px;
  line-height: 37px;
  border-radius: 20px;
}
.header-text-wrap .header-text-phone .header-text-block__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  margin: 10px 0 20px 0;
}
.header-text-wrap .header-text-phone .header-text-block__slogan {
  margin-bottom: 30px;
  line-height: 26px;
}
.header-text-wrap .header-text-phone .header-text-block__demo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-text-wrap .header-text-phone .header-text-block__demo-wrap .demo-wrap__watch-demo {
  color: #2500f9;
  margin-top: 25px;
}
.header-text-wrap .header-phone {
  max-width: 100%;
  height: auto;
}

/* Min-Width 600px */
@media (min-width: 600px) {
  .header-text-wrap {
    margin-top: 30px;
  }
  .header-text-wrap .header-text-phone {
    grid-template-columns: 51% 37%;
    grid-column-gap: 3%;
    justify-content: end;
    align-items: center;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  .header-text-wrap {
    margin-top: 70px;
  }
  .header-text-wrap .header-text-phone .header-text-block__editors-choice {
    width: 367px;
    font-size: 18px;
  }
  .header-text-wrap .header-text-phone .header-text-block__title {
    font-size: 58px;
    line-height: 75px;
  }
  .header-text-wrap .header-text-phone .header-text-block__demo-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 350px;
  }
}
/* Min-Width 900px */
@media (min-width: 900px) {
  .header-text-wrap .header-text-phone .header-text-block__title {
    font-size: 60px;
  }
}
/* --------- Logos --------- */
.logos-wrap {
  padding-top: 116px;
}
.logos-wrap .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos-wrap .logos-title {
  margin-bottom: 36px;
}
.logos-wrap .logos-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos-wrap .logos-images__item {
  padding-bottom: 30px;
}

/* Min-Width 400px */
@media (min-width: 400px) {
  .logos-wrap .logos-images {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .logos-wrap .logos-images__item {
    padding-right: 40px;
  }
}
/* --------- Awesome Apps --------- */
.awesome-apps-wrap {
  padding-top: 50px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  color: #242f51;
}
.awesome-apps-wrap .awesome-apps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.awesome-apps-wrap .awesome-apps__phone img {
  max-width: 100%;
  height: auto;
}
.awesome-apps-wrap .awesome-apps__advantages {
  padding-top: 50px;
  max-width: 440px;
  padding: 0 15px;
}
.awesome-apps-wrap .awesome-apps__advantages .advantages__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  max-width: 100%;
}
.awesome-apps-wrap .awesome-apps__advantages .advantages__text {
  padding: 20px 0 50px 0;
  color: #616368;
  line-height: 26px;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance, .awesome-apps-wrap .awesome-apps__advantages .prototyping, .awesome-apps-wrap .awesome-apps__advantages .vector-editing {
  padding-top: 120px;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance, .awesome-apps-wrap .awesome-apps__advantages .prototyping {
  margin-bottom: 30px;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance {
  background: url(../img/awesome/fast-performance.png) center top no-repeat;
}
.awesome-apps-wrap .awesome-apps__advantages .prototyping {
  background: url(../img/awesome/prototyping.png) center top no-repeat;
}
.awesome-apps-wrap .awesome-apps__advantages .vector-editing {
  background: url(../img/awesome/vector-editing.png) center top no-repeat;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance__title, .awesome-apps-wrap .awesome-apps__advantages .prototyping__title, .awesome-apps-wrap .awesome-apps__advantages .vector-editing__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 58px;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance__text, .awesome-apps-wrap .awesome-apps__advantages .prototyping__text, .awesome-apps-wrap .awesome-apps__advantages .vector-editing__text {
  color: #616368;
  line-height: 26px;
  max-width: 100%;
}
.awesome-apps-wrap .awesome-apps__advantages .fast-performance__title {
  color: #f55767;
}
.awesome-apps-wrap .awesome-apps__advantages .prototyping__title {
  color: #2563ff;
}
.awesome-apps-wrap .awesome-apps__advantages .vector-editing__title {
  color: #40975f;
}

/* Min-Width 600px */
@media (min-width: 600px) {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap {
    padding-top: 100px;
  }
  .awesome-apps-wrap .awesome-apps {
    flex-direction: row;
    align-items: flex-start;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .advantages__title {
    font-size: 36px;
    line-height: 46px;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .fast-performance, .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .prototyping, .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .vector-editing {
    padding-top: 0;
    padding-left: 120px;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .fast-performance {
    background-position: left center;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .prototyping {
    background-position: left center;
  }
  .awesome-apps-wrap .awesome-apps .awesome-apps__advantages .vector-editing {
    background-position: left center;
  }
}
/* Smart Jackpots */
.smart-jackpots-wrap {
  padding-top: 30px;
}
.smart-jackpots-wrap .smart-jackpots {
  display: flex;
  flex-direction: column;
}
.smart-jackpots-wrap .smart-jackpots__slogan {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #242f51;
  border-bottom: 1px solid #b9b9b8;
  padding-bottom: 30px;
}
.smart-jackpots-wrap .smart-jackpots__text {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  padding-top: 30px;
}

/* Min-Width 600px */
@media (min-width: 600px) {
  /* Smart Jackpots */
  .smart-jackpots-wrap .smart-jackpots {
    flex-direction: row;
    align-items: flex-start;
  }
  .smart-jackpots-wrap .smart-jackpots__slogan {
    border-bottom: none;
    border-right: 1px solid #b9b9b8;
    padding-right: 30px;
  }
  .smart-jackpots-wrap .smart-jackpots__text {
    padding-left: 30px;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  /* Smart Jackpots */
  .smart-jackpots-wrap .smart-jackpots__slogan {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    padding-right: 73px;
  }
  .smart-jackpots-wrap .smart-jackpots__text {
    padding-left: 48px;
  }
}
/* --------- Automatic Payouts --------- */
.automatic-payouts-wrap {
  padding-top: 50px;
}
.automatic-payouts-wrap .automatic-payouts-block {
  display: flex;
  flex-direction: column;
}
.automatic-payouts-wrap .automatic-payouts-block .automatic-payouts, .automatic-payouts-wrap .automatic-payouts-block .network-effect, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method {
  padding-top: 100px;
  width: 100%;
}
.automatic-payouts-wrap .automatic-payouts-block .automatic-payouts, .automatic-payouts-wrap .automatic-payouts-block .network-effect {
  margin-bottom: 50px;
}
.automatic-payouts-wrap .automatic-payouts-block .automatic-payouts {
  background: url(../img/automatic-payouts/automatic-payouts.png) center top no-repeat;
}
.automatic-payouts-wrap .automatic-payouts-block .network-effect {
  background: url(../img/automatic-payouts/network-effect.png) center top no-repeat;
}
.automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method {
  background: url(../img/automatic-payouts/bigger-rewards-method.png) center top no-repeat;
}
.automatic-payouts-wrap .automatic-payouts-block .automatic-payouts__title, .automatic-payouts-wrap .automatic-payouts-block .network-effect__title, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 58px;
}
.automatic-payouts-wrap .automatic-payouts-block .automatic-payouts__title {
  color: #f55767;
}
.automatic-payouts-wrap .automatic-payouts-block .network-effect__title {
  color: #2563ff;
}
.automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method__title {
  color: #40975f;
}
.automatic-payouts-wrap .automatic-payouts-block .automatic-payouts__text, .automatic-payouts-wrap .automatic-payouts-block .network-effect__text, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method__text {
  color: #616368;
  line-height: 26px;
}

/* Min-Width 600px */
@media (min-width: 600px) {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap .automatic-payouts-block {
    flex-direction: row;
    justify-content: space-between;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts, .automatic-payouts-wrap .automatic-payouts-block .network-effect, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method {
    max-width: 215px;
    display: flex;
    flex-direction: column;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts, .automatic-payouts-wrap .automatic-payouts-block .network-effect {
    padding-right: 20px;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts {
    background-position: left top;
  }
  .automatic-payouts-wrap .automatic-payouts-block .network-effect {
    background-position: left top;
  }
  .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method {
    background-position: left top;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts__title, .automatic-payouts-wrap .automatic-payouts-block .network-effect__title, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method__title {
    line-height: 30px;
    padding-bottom: 15px;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts__title {
    flex: 1 1 auto;
  }
  .automatic-payouts-wrap .automatic-payouts-block .network-effect__title {
    flex: 1 1 auto;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap {
    padding-top: 110px;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts, .automatic-payouts-wrap .automatic-payouts-block .network-effect, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method {
    max-width: 250px;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts__title, .automatic-payouts-wrap .automatic-payouts-block .network-effect__title, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method__title {
    line-height: 58px;
    padding-bottom: 0;
  }
}
/* Min-Width 900px */
@media (min-width: 900px) {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts, .automatic-payouts-wrap .automatic-payouts-block .network-effect, .automatic-payouts-wrap .automatic-payouts-block .bigger-rewards-method {
    max-width: 265px;
  }
  .automatic-payouts-wrap .automatic-payouts-block .automatic-payouts, .automatic-payouts-wrap .automatic-payouts-block .network-effect {
    padding-right: 0;
  }
}
/* --------- Designed --------- */
.designed-section {
  border-bottom: 1px solid #f4f4f4;
}
.designed-section .designed-wrap {
  padding-top: 50px;
  padding-bottom: 73px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  color: #242f51;
}
.designed-section .designed-wrap .designed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.designed-section .designed-wrap .designed .designed-img img {
  max-width: 100%;
  height: auto;
}
.designed-section .designed-wrap .designed .designed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  max-width: 330px;
}
.designed-section .designed-wrap .designed .designed-content .designed-content__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}
.designed-section .designed-wrap .designed .designed-content .designed-content__text {
  padding: 20px 0 50px 0;
  color: #616368;
  line-height: 26px;
}
/* Min-Width 600px */
@media (min-width: 600px) {
  /* --------- Designed --------- */
  .designed-section .designed-wrap {
    padding-top: 100px;
  }
  .designed-section .designed-wrap .designed {
    flex-direction: row;
    align-items: center;
  }
  .designed-section .designed-wrap .designed .designed-img {
    padding-right: 8%;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Awesome Apps --------- */
  .designed-section .designed-wrap .designed .designed-content .designed-content__title {
    font-size: 36px;
    line-height: 46px;
  }
}
/* Min-Width 900px */
@media (min-width: 900px) {
  /* --------- Awesome Apps --------- */
  .designed-section .designed-wrap .designed {
    padding-left: 50px;
  }
}
/* --------- Why Choose --------- */
.why-choose-wrap {
  color: #616368;
  padding-top: 70px;
}
.why-choose-wrap .why-choose {
  display: grid;
  grid-template-rows: 6% 8%;
  justify-items: center;
}
.why-choose-wrap .why-choose .why-choose__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  color: #242f51;
  text-align: center;
  max-width: 440px;
}
.why-choose-wrap .why-choose .why-choose__text {
  line-height: 26px;
  text-align: center;
  padding-bottom: 50px;
  max-width: 640px;
}
.why-choose-wrap .why-choose .why-choose-advantages {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item {
  padding-top: 100px;
  padding-bottom: 50px;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item .why-choose-advantages__title {
  font-size: 20px;
  line-height: 58px;
  font-weight: 700;
  color: #242f51;
  text-align: center;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item .why-choose-advantages__text {
  line-height: 26px;
  text-align: center;
  max-width: 300px;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item_app-development {
  background: url(../img/why-choose/app-development.png) center top no-repeat;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item_10-times-award {
  background: url(../img/why-choose/10-times-award.png) center top no-repeat;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item_cloud-storage {
  background: url(../img/why-choose/cloud-storage.png) center top no-repeat;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item_customization {
  background: url(../img/why-choose/customization.png) center top no-repeat;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item_ux-planning {
  background: url(../img/why-choose/ux-planning.png) center top no-repeat;
}
.why-choose-wrap .why-choose .why-choose-advantages .why-choose-advantages__item_customer-support {
  background: url(../img/why-choose/customer-support.png) center top no-repeat;
}

/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Why Choose --------- */
  .why-choose-wrap .why-choose {
    grid-template-rows: repeat(2, 1fr);
  }
  .why-choose-wrap .why-choose .why-choose__title {
    font-size: 36px;
    line-height: 46px;
  }
  .why-choose-wrap .why-choose .why-choose-advantages {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5%;
  }
}
/* --------- Ultimate Features --------- */
.ultimate-features-section {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}
.ultimate-features-section .ultimate-features__phone {
  overflow: hidden;
}
.ultimate-features-section .ultimate-features__phone img {
  max-width: 100%;
  height: auto;
  margin-left: 6%;
}
.ultimate-features-section .ultimate-features-wrap {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  color: #616368;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content {
  padding: 0 15px;
  text-align: center;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-content__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  color: #242f51;
  padding-top: 50px;
  padding-bottom: 50px;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-content__text {
  line-height: 26px;
  padding-bottom: 50px;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  align-items: center;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item {
  padding-top: 100px;
  padding-bottom: 50px;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item .ultimate-features-advantages__title {
  font-size: 20px;
  line-height: 58px;
  font-weight: 700;
  color: #242f51;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item .ultimate-features-advantages__text {
  line-height: 26px;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item_app-development {
  background: url(../img/ultimate-features/app-development.png) center top no-repeat;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item_ux-planing {
  background: url(../img/ultimate-features/ux-planing.png) center top no-repeat;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item_cloud-storage {
  background: url(../img/ultimate-features/cloud-storage.png) center top no-repeat;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item_customer-support {
  background: url(../img/ultimate-features/customer-support.png) center top no-repeat;
}
.ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__btn {
  margin: 0 auto;
}

/* Min-Width 400px */
@media (min-width: 400px) {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {
    padding-top: 70px;
  }
}
/* Min-Width 600px */
@media (min-width: 600px) {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {
    padding-top: 100px;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {
    position: relative;
  }
  .ultimate-features-section .ultimate-features__phone {
    position: absolute;
    top: 20%;
    right: 0;
    width: 48%;
    padding-left: 3%;
  }
  .ultimate-features-section .ultimate-features-wrap .ultimate-features {
    flex-direction: row;
    align-items: center;
  }
  .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content {
    text-align: left;
  }
  .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-content__title {
    font-size: 36px;
    line-height: 46px;
    max-width: 330px;
  }
  .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-content__text {
    line-height: 26px;
    max-width: 400px;
  }
  .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages {
    grid-column-gap: 5%;
    grid-template-rows: 46% 45% 9%;
    grid-template-columns: repeat(2, 26%);
  }
  .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__item .ultimate-features-advantages__text {
    max-width: 600px;
  }
  .ultimate-features-section .ultimate-features-wrap .ultimate-features .ultimate-features-content .ultimate-features-advantages .ultimate-features-advantages__btn {
    margin: 0;
  }
}
/* Min-Width 1300px */
@media (min-width: 1300px) {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section .ultimate-features__phone {
    padding-left: 0;
  }
}
/* --------- Awesome Features --------- */
.awesome-features-wrap {
  padding-bottom: 28px;
  border-bottom: 1px solid #f4f4f4;
}
.awesome-features-wrap .awesome-features {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  /* Switch Button */
}
.awesome-features-wrap .awesome-features .awesome-features__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #242f51;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 450px;
}
.awesome-features-wrap .awesome-features .awesome-features__text {
  line-height: 26px;
  padding-bottom: 50px;
  position: relative;
}
.awesome-features-wrap .awesome-features .awesome-features__text div {
  max-width: 640px;
  margin: 0 auto;
}
.awesome-features-wrap .awesome-features .toggleWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
  text-align: left;
}
.awesome-features-wrap .awesome-features .toggleWrapper input {
  position: absolute;
  left: -99em;
}
.awesome-features-wrap .awesome-features .toggleWrapper input:checked + .toggle {
  background: #fff;
}
.awesome-features-wrap .awesome-features .toggleWrapper input:checked + .toggle:before {
  color: #fff;
}
.awesome-features-wrap .awesome-features .toggleWrapper input:checked + .toggle:after {
  color: #fff;
}
.awesome-features-wrap .awesome-features .toggleWrapper input:checked + .toggle .toggle__handler {
  width: 94px;
  transform: translateX(100px);
  border-color: #fff;
}
.awesome-features-wrap .awesome-features .toggleWrapper .toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 54px;
  background: #fff;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border: 2px solid #ebebeb;
  border-radius: 20px;
}
.awesome-features-wrap .awesome-features .toggleWrapper .toggle:before, .awesome-features-wrap .awesome-features .toggleWrapper .toggle:after {
  position: absolute;
  line-height: 50px;
  font-size: 14px;
  z-index: 2;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.awesome-features-wrap .awesome-features .toggleWrapper .toggle:before {
  content: "Monthly";
  left: 23px;
  color: #fff;
  font-weight: 700;
}
.awesome-features-wrap .awesome-features .toggleWrapper .toggle:after {
  content: "Annually";
  right: 15px;
  color: #fff;
  font-weight: 700;
}
.awesome-features-wrap .awesome-features .toggleWrapper .toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  background: #2500f9;
  width: 100px;
  height: 44px;
  border-radius: 20px;
  top: 3px;
  left: 3px;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: translateX(0px);
}
.awesome-features-wrap .prices {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  padding-top: 50px;
  color: #999ca5;
  text-align: center;
}
.awesome-features-wrap .prices .prices__item {
  box-shadow: 0px 20px 20px 0px rgba(50, 50, 50, 0.15);
  margin-bottom: 50px;
}
.awesome-features-wrap .prices .prices__item .prices__header {
  background: white;
  background: linear-gradient(180deg, white 0%, #f4f7f9 100%);
  border-radius: 10px 10px;
  padding: 30px 0;
}
.awesome-features-wrap .prices .prices__item .prices__header .prices__price {
  font-size: 18px;
  line-height: 58px;
}
.awesome-features-wrap .prices .prices__item .prices__header .prices__price span {
  font-size: 60px;
  font-weight: #242f51;
  color: #242f51;
}
.awesome-features-wrap .prices .prices__item .prices__header .prices__plan {
  line-height: 28px;
}
.awesome-features-wrap .prices .prices__item .prices__header .prices__plan span {
  font-size: 20px;
  font-weight: 700;
  color: #242f51;
}
.awesome-features-wrap .prices .prices__item .prices__footer {
  padding: 30px 0;
}
.awesome-features-wrap .prices .prices__item .prices__footer .prices__text {
  line-height: 48px;
}
.awesome-features-wrap .prices .prices__item .prices__footer .prices__btn {
  margin: 0 auto;
  width: 210px;
}
.awesome-features-wrap .prices .prices__item .prices__footer .prices__free-trial {
  color: #2500f9;
  margin-top: 25px;
}
.awesome-features-wrap .prices .prices__item_active {
  box-shadow: none;
  border: 2px solid #ebebeb;
  border-radius: 10px;
}

/* Min-Width 600px */
@media (min-width: 600px) {
  /* --------- Awesome Features --------- */
  .awesome-features-wrap .awesome-features {
    position: relative;
  }
  .awesome-features-wrap .prices {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 47%);
    grid-column-gap: 30px;
    justify-content: center;
  }
}
/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Awesome Features --------- */
  .awesome-features-wrap .prices {
    grid-template-columns: repeat(2, 33%);
  }
}
/* --------- Client Satisfaction --------- */
.client-satisfaction-wrap {
  padding-top: 50px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  color: #616368;
}
.client-satisfaction-wrap .client-satisfaction {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 0 15px;
  text-align: center;
}
.client-satisfaction-wrap .client-satisfaction__clients img {
  max-width: 100%;
  height: auto;
}
.client-satisfaction-wrap .client-satisfaction .client-feedback__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #242f51;
  padding-top: 50px;
  padding-bottom: 50px;
}
.client-satisfaction-wrap .client-satisfaction .client-feedback__text {
  padding-bottom: 30px;
  line-height: 26px;
}
.client-satisfaction-wrap .client-satisfaction .client-feedback__ranking {
  padding-bottom: 30px;
}
.client-satisfaction-wrap .client-satisfaction .client-feedback__ranking .checked {
  color: orange;
}
.client-satisfaction-wrap .client-satisfaction .user-friendly__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #242f51;
  margin-bottom: 30px;
}
.client-satisfaction-wrap .client-satisfaction .user-friendly__text {
  line-height: 26px;
}
.client-satisfaction-wrap .client-satisfaction .testimonial {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 30px;
}
.client-satisfaction-wrap .client-satisfaction .testimonial .testimonial__person {
  text-align: center;
}
.client-satisfaction-wrap .client-satisfaction .testimonial .testimonial__person .testimonial__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  color: #242f51;
}
.client-satisfaction-wrap .client-satisfaction .testimonial .testimonial__arrows {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.client-satisfaction-wrap .client-satisfaction .testimonial .testimonial__arrows .arrows__left {
  width: 50px;
  height: 50px;
  background: url(../img/clients/arrows.png) left top no-repeat;
  cursor: pointer;
}
.client-satisfaction-wrap .client-satisfaction .testimonial .testimonial__arrows .arrows__center {
  font-size: 30px;
  text-align: center;
  color: #e7e7e7;
}
.client-satisfaction-wrap .client-satisfaction .testimonial .testimonial__arrows .arrows__right {
  width: 50px;
  height: 50px;
  background: url(../img/clients/arrows.png) right top no-repeat;
  cursor: pointer;
}

/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Client Satisfaction --------- */
  .client-satisfaction-wrap .client-satisfaction {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }
  .client-satisfaction-wrap .client-satisfaction .testimonial {
    align-items: center;
  }
}
/* Min-Width 900px */
@media (min-width: 900px) {
  /* --------- Client Satisfaction --------- */
  .client-satisfaction-wrap .client-satisfaction {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    text-align: left;
  }
  .client-satisfaction-wrap .client-satisfaction .client-feedback__title {
    max-width: 370px;
  }
  .client-satisfaction-wrap .client-satisfaction .client-feedback__text {
    max-width: 480px;
  }
  .client-satisfaction-wrap .client-satisfaction .testimonial {
    grid-template-rows: 1fr;
    grid-template-columns: 21% 49% 30%;
    justify-items: center;
    max-width: 570px;
  }
}
/* Min-Width 1024px */
@media (min-width: 1024px) {
  /* --------- Client Satisfaction --------- */
  .client-satisfaction-wrap .client-satisfaction .testimonial {
    justify-items: start;
  }
}
/* --------- Frequently Asked Questions --------- */
.faq-wrap {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.faq-wrap .faq {
  display: grid;
  grid-template-rows: 1fr;
}
.faq-wrap .faq__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #242f51;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.faq-wrap .faq__text {
  padding-bottom: 30px;
  line-height: 26px;
  text-align: center;
}
.faq-wrap .faq .accordion {
  color: #616368;
}
.faq-wrap .faq .accordion .accordion__item {
  background-color: #f5f7fa;
  margin-bottom: 15px;
}
.faq-wrap .faq .accordion .accordion__item .accordion__header {
  position: relative;
}
.faq-wrap .faq .accordion .accordion__item .accordion__header .accordion__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  color: #242f51;
  padding: 30px;
  cursor: pointer;
  max-width: 90%;
}
.faq-wrap .faq .accordion .accordion__item .accordion__header .accordion__title::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background-color: #242f51;
  position: absolute;
  top: 40%;
  right: 38px;
  z-index: 1;
  transform: rotate(90deg);
}
.faq-wrap .faq .accordion .accordion__item .accordion__header .accordion__title::after {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background-color: #242f51;
  position: absolute;
  top: 40%;
  right: 38px;
  z-index: 1;
}
.faq-wrap .faq .accordion .accordion__item .accordion__content {
  line-height: 26px;
  padding: 0 30px 30px 30px;
  display: none;
}
.faq-wrap .faq .accordion .accordion__item.active .accordion__content {
  display: block;
}
.faq-wrap .faq .accordion .accordion__item.active .accordion__title::before,
.faq-wrap .faq .accordion .accordion__item.active .accordion__title::after {
  display: none;
}

/* Min-Width 800px */
@media (min-width: 800px) {
  /* --------- Frequently Asked Questions --------- */
  .faq-wrap .faq {
    text-align: left;
  }
  .faq-wrap .faq__title {
    font-size: 40px;
    line-height: 58px;
    padding-bottom: 30px;
  }
  .faq-wrap .faq__text {
    padding-bottom: 60px;
    max-width: 640px;
    margin: 0 auto;
  }
}
/* Min-Width 900px */
@media (min-width: 900px) {
  /* --------- Frequently Asked Questions --------- */
  .faq-wrap {
    padding-top: 100px;
    /* DESKTOP */
    padding-bottom: 100px;
    /* DESKTOP */
  }
}
