// --------- Common Styles --------- //
$body-fontFamily: 'Poppins', sans-serif;
$body-fontSize: 16px;

// Button Template
$button-bgc: #2500f9;
$button-color: #fff;
$button-fontWeight: 700;
$button-lineHeight: 3em;
$button-bdrs: 20px;

$buttonHover-color: #ccc;

// --------- Header --------- //
// Logo
$logoNavLogo-fontSize: 44px;
$logoNavLogo-fontWeight: 700;
$logoNavLogo-color: #fcae61;

$logoNavLogoSpan-color: #242f51;

// Navigation
$navItem-color: #5a627c;
$navItem-bgc: #ccc;

$navItemHover-bgc: #fcae61;

$navToggleBeforeAfter-bgc: #ccc;

$navItemHover-color: #000;

/* Navigation - Min-Width 900px */
$current-bgc: #2500f9;
$current-color: #fff;
$current-fontWeight: 700;
$current-bdrs: 20px;

$currentHover-bgc: #2500f9;
$currentHover-color: #ccc;


/* Header Text */
$headerTextWrap-color: #242f51;

$headerTextBlockEditorsChoice-bgc: #e2eaed;
$headerTextBlockEditorsChoice-fontSize: 14px;
$headerTextBlockEditorsChoice-lineHeight: 37px;
$headerTextBlockEditorsChoice-bdrs: 20px;

$headerTextBlockTitle-fontSize: 32px;
$headerTextBlockTitle-fontWeight: 700;
$headerTextBlockTitle-lineHeight: 45px;

$headerTextBlockSlogan-lineHeight: 26px;

$demoWrapWatchDemo-color: #2500f9;

/* Header Text - Min-Width 800px */
$headerTextBlockEditorsChoice800-fontSize: 18px;

$headerTextBlockTitle800-fontSize: 58px;
$headerTextBlockTitle800-lineHeight: 75px;

$headerTextBlockTitle900-fontSize: 60px;


/* --------- Awesome Apps --------- */
$awesomeAppsWrap-color: #242f51;

$advantagesTitle-fontSize: 28px;
$advantagesTitle-fontWeight: 700;
$advantagesTitle-lineHeight: 33px;

$advantagesText-color: #616368;
$advantagesText-lineHeight: 26px;

$FPT-PT-VET-fontSize: 20px;
$FPT-PT-VET-fontWeight: 700;
$FPT-PT-VET-lineHeight: 58px;

$FPT-PT-VET-text-color: #616368;
$FPT-PT-VET-text-lineHeight: 26px;

$FPT-color: #f55767;

$PT-color: #2563ff;

$VET-color: #40975f;

/* Awesome Apps - Min-Width 800px */
$advantagesTitle-fontSize800: 36px;
$advantagesTitle-lineHeight800: 46px;

/* Smart Jackpots */
$smartJackpotsSlogan-fontSize: 28px;
$smartJackpotsSlogan-fontWeight: 700;
$smartJackpotsSlogan-lineHeight: 33px;
$smartJackpotsSlogan-color: #242f51;
$smartJackpotsSlogan-borderBottom: 1px solid #b9b9b8;

$smartJackpotsText-fontSize: 16px;
$smartJackpotsText-lineHeight: 26px;
$smartJackpotsText-color: #616368;

/* Smart Jackpots - Min-Width 600px */
$smartJackpotsText-borderBottom600: none;
$smartJackpotsText-borderRight600: 1px solid #b9b9b8;

/* Smart Jackpots - Min-Width 800px */
$smartJackpotsSlogan-fontSize800: 40px;
$smartJackpotsSlogan-fontWeight800: 700;
$smartJackpotsSlogan-lineHeight800: 50px;


/* --------- Automatic Payouts --------- */
$APT-NET-BRMT-FontSize: 20px;
$APT-NET-BRMT-FontWeight: 700;
$APT-NET-BRMT-lineHeight: 58px;

$APT-color: #f55767;

$NET-color: #2563ff;

$BRMT-color: #40975f;

$APText-NEText-BRMText-color: #616368;
$APText-NEText-BRMText-lineHeight: 26px;

/* Automatic Payouts - Min-Width 600px */
$APT-NET-BRMT-lineHeight600: 30px;

/* Automatic Payouts - Min-Width 800px */
$APT-NET-BRMT-lineHeight800: 58px;


/* --------- Designed --------- */
$designedSection-borderBottom: 1px solid #f4f4f4;

$designedWrap-color: #242f51;

$designedContentTitle-fontSize: 28px;
$designedContentTitle-fontWeight: 700;
$designedContentTitle-lineHeight: 33px;

$designedContentText-color: #616368;
$designedContentText-lineHeight: 26px;

/* Designed - Min-Width 800px */
$designedContentTitle-fontSize800: 36px;
$designedContentTitle-lineHeight800: 46px;


/* --------- Why Choose --------- */
$whyChooseWrap-color: #616368;

$whyChooseTitle-fontSize: 28px;
$whyChooseTitle-lineHeight: 33px;
$whyChooseTitle-fontWeight: 700;
$whyChooseTitle-color: #242f51;
$whyChooseTitle-textAlign: center;

$whyChooseText-lineHeight: 26px;
$whyChooseText-textAlign: center;

$whyChooseAdvantagesTitle-fontSize: 20px;
$whyChooseAdvantagesTitle-lineHeight: 58px;
$whyChooseAdvantagesTitle-fontWeight: 700;
$whyChooseAdvantagesTitle-color: #242f51;
$whyChooseAdvantagesTitle-textAlign: center;

$whyChooseAdvantagesText-lineHeight: 26px;
$whyChooseAdvantagesText-textAlign: center;

/* Why Choose - Min-Width 800px */
$whyChooseTitle-fontSize800: 36px;
$whyChooseTitle-lineHeight800: 46px;


/* --------- Awesome Features --------- */
$awesomeFeatures-textAlign: center;

$awesomeFeaturesTitle-fontSize: 28px;
$awesomeFeaturesTitle-fontWeight: 700;
$awesomeFeaturesTitle-lineHeight: 33px;
$awesomeFeaturesTitle-color: #242f51;

$awesomeFeaturesText-lineHeight: 26px;

$prices-color: #999ca5;

$pricesItem-boxShadow: 0px 20px 20px 0px rgba(50, 50, 50, 0.15);

$pricesHeader-bg: rgb(255,255,255);
$pricesHeader-linearGradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,247,249,1) 100%);
$pricesHeader-bdrs: 10px 10px;

$pricesPrice-fontSize: 18px;
$pricesPrice-lineHeight: 58px;

$pricesPriceSpan-fontSize: 60px;
$pricesPriceSpan-fontWeight: 700;
$pricesPriceSpan-fontWeight: #242f51;

$pricesPlan-lineHeight: 28px;

$pricesPlan-fontSize: 20px;
$pricesPlan-fontWeight: 700;
$pricesPlan-color: #242f51;

$pricesText-lineHeight: 48px;
$pricesFreeTrial-color: #2500f9;

$pricesItemActive-boxShadow: none;
$pricesItemActive-border: 2px solid #ebebeb;
$pricesItemActive-bdrs: 10px;

/* --------- Client Satisfaction --------- */
$clientSatisfactionWrap-color: #616368;

$clientSatisfaction-textAlign: center;

$clientFeedbackTitle-fontSize: 28px;
$clientFeedbackTitle-fontWeight: 700;
$clientFeedbackTitle-lineHeight: 33px;
$clientFeedbackTitle-color: #242f51;

$clientFeedbackRankingCheked-color: orange;

$userFriendlyTitle-fontSize: 15px;
$userFriendlyTitle-fontWeight: 700;
$userFriendlyTitle-lineHeight: 20px;
$userFriendlyTitle-color: #242f51;

$userFriendlyText-lineHeight: 26px;

$testimonialName-fontSize: 18px;
$testimonialName-fontWeight: 700;
$testimonialName-lineHeight: 35px;
$testimonialName-color: #242f51;

$arrowsCenter-fontSize: 30px;
$arrowsCenter-textAlign: center;
$arrowsCenter-color: #e7e7e7;


/* --------- Frequently Asked Questions --------- */
$faqTitle-fontSize: 28px;
$faqTitle-fontWeight: 700;
$faqTitle-lineHeight: 33px;
$faqTitle-color: #242f51;

$faqText-lineHeight: 26px;

$accordion-color: #616368;

$accordionItem-bgc: #f5f7fa;

$accordionTitle-fontSize: 20px;
$accordionTitle-fontWeight: 700;
$accordionTitle-lineHeight: 33px;
$accordionTitle-color: #242f51;

$accordionTitleBefore-color: #242f51;
$accordionTitleAfter-color: #242f51;

$accordionContent-lineHeight: 26px;

$faqWrap-borderBottom: 1px solid #f4f4f4;

/* Frequently Asked Questions - Min-Width 800px */
$faqTitle-fontSize800: 40px;
$faqTitle-lineHeight800: 58px;


/* --------- Download --------- */
$downloadBlockWrap-color: #616368;

$downloadContent-textAlign: left;

$downloadTitle-fontSize: 28px;
$downloadTitle-lineHeight: 33px;
$downloadTitle-fontWeight: 700;
$downloadTitle-color: #242f51;

$downloadText-lineHeight: 26px;

/* Download - Min-Width 800px */
$downloadTitle-fontSize800: 48px;
$downloadTitle-lineHeight800: 58px;

/* --------- Footer --------- */
$footerWrap-bgc: #09142e;

$footerLogo-fontSize: 44px;
$footerLogo-fontWeight: 700;
$footerLogo-color: #fcae61;

$footerLogoSpan-color: #242f51;

$footerNavItem-lineHeight: 30px;
$footerNavItem-color: #fff;

$footerSocialItem-fontSize: 30px;
$footerSocialItem-color: #273043;

$footerSocialItemHover-color: #fff;

$copy-fontSize: 14px;
$copy-lineHeight: 23px;
$copy-color: #fff;
$copy-textAlign: center;
$copy-opacity: 21%;
