@import '_reset';
@import '_variables';
@import '_mixins';
@import '_common';

/* --------- Header --------- */
/* Logo-Nav */
.logo-nav {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25% 75%;
  position: relative;

  height: 65px;

  padding-top: 15px;

  &__logo {
    font-size: $logoNavLogo-fontSize;
    font-weight: $logoNavLogo-fontWeight;
    color: $logoNavLogo-color;

    span {
      color: $logoNavLogoSpan-color;
    }

  }

  &__nav {
    display: none;

    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 100;

    &.active {
      display: block;
    }

  }

  .nav__item {
    color: $navItem-color;
    line-height: 2.5em;
    display: block;
    padding-left: 1em;

    background-color: $navItem-bgc;

    &:hover {
      background-color: $navItemHover-bgc;
      transition: background-color .1s linear;
    }

  }

}

/* Nav-Toggle */
.nav-toggle {
  width: 35px;
  height: 50px;
  display: block;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 13px;
  right: 20px;

  &:focus {
    outline: none;
  }

  &__item {
      display: block;
      width: 100%;
      height: 5px;

      background-color: #ccc;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      transition: background .2s linear;

      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 5px;

        background-color: $navToggleBeforeAfter-bgc;

        position: absolute;
        left: 0;
        z-index: 1;

        transition: transform .2s linear;
      }

      &::before {
        top: -10px;
      }

      &::after {
        bottom: -10px;
      }

  }

  &.active &__item {
    background: none;

    &::before {
      transform: rotate(-45deg) translate(-7px, 6px);
    }

    &::after {
      transform: rotate(45deg) translate(-8px, -8px);
    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {

  /* Navigation */
  .logo-nav {
    padding-top: 115px;

    &__nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: static;
    }

    .nav__item {
      display: inline-block;
      line-height: 3em;

      background: none;

      &:hover {
        background: none;
        color: $navItemHover-color;
      }

    }

    .current {
      background-color: $current-bgc;
      color: $current-color;
      font-weight: $current-fontWeight;
      padding: 0 40px;
      border-radius: $current-bdrs;

      &:hover {
        background: $currentHover-bgc;
        color: $currentHover-color;
      }

    }

  }

  .nav-toggle {
    display: none;
  }

}

/* Header Text */
.header-text-wrap {
  max-height: 1120px;
  background: url(../img/header-bg.png) top/cover no-repeat;
  margin-top: 70px;
  color: $headerTextWrap-color;

  .header-text-phone {
    display: grid;
    justify-items: center;

    .header-text-block__editors-choice {
      background: $headerTextBlockEditorsChoice-bgc url(../img/editors-choice.png) left no-repeat;
      padding-left: 45px;
      font-size: $headerTextBlockEditorsChoice-fontSize;
      line-height: $headerTextBlockEditorsChoice-lineHeight;
      border-radius: $headerTextBlockEditorsChoice-bdrs;
    }

    .header-text-block__title {
      font-size: $headerTextBlockTitle-fontSize;
      font-weight: $headerTextBlockTitle-fontWeight;
      line-height: $headerTextBlockTitle-lineHeight;
      margin: 10px 0 20px 0;
    }

    .header-text-block__slogan {
      margin-bottom: 30px;
      line-height: $headerTextBlockSlogan-lineHeight;
    }

    .header-text-block__demo-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .demo-wrap__button {
        @extend %button;
      }

      .demo-wrap__watch-demo {
        color: $demoWrapWatchDemo-color;
        margin-top: 25px;
      }

    }

  }

  .header-phone {
    max-width: 100%;
    height: auto;
  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  .header-text-wrap {
    margin-top: 30px;

    .header-text-phone {
      grid-template-columns: 51% 37%;
      grid-column-gap: 3%;
      justify-content: end;
      align-items: center;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  .header-text-wrap {
    margin-top: 70px;

    .header-text-phone {

      .header-text-block__editors-choice {
        width: 367px;
        font-size: $headerTextBlockEditorsChoice800-fontSize;
      }

      .header-text-block__title {
        font-size: $headerTextBlockTitle800-fontSize;
        line-height: $headerTextBlockTitle800-lineHeight;
      }

      .header-text-block__demo-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 350px;
      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  .header-text-wrap {

    .header-text-phone {

      .header-text-block__title {
        font-size: $headerTextBlockTitle900-fontSize;
      }

    }

  }

}


/* --------- Logos --------- */
.logos-wrap {
  padding-top: 116px;

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logos-title {
    margin-bottom: 36px;
  }

  .logos-images {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      padding-bottom: 30px;
    }

  }
}

/* Min-Width 400px */
@include respond-to('minW-400px') {
  .logos-wrap {

    .logos-images {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &__item {
        padding-right: 40px;
      }

    }

  }

}

/* --------- Awesome Apps --------- */
.awesome-apps-wrap {
  padding-top: 50px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;

  color: $awesomeAppsWrap-color;

  .awesome-apps {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__phone img {
      max-width: 100%;
      height: auto;
    }

    &__advantages {
      padding-top: 50px;
      max-width: 440px;
      padding: 0 15px;

      .advantages__title {
        font-size: $advantagesTitle-fontSize;
        font-weight: $advantagesTitle-fontWeight;
        line-height: $advantagesTitle-lineHeight;
        max-width: 100%;
      }

      .advantages__text {
        padding: 20px 0 50px 0;
        color: $advantagesText-color;
        line-height: $advantagesText-lineHeight;
      }

      .fast-performance, .prototyping, .vector-editing {
        padding-top: 120px;
      }

      .fast-performance, .prototyping {
        margin-bottom: 30px;
      }

      .fast-performance {
        background: url(../img/awesome/fast-performance.png) center top no-repeat;
      }

      .prototyping {
        background: url(../img/awesome/prototyping.png) center top no-repeat;
      }

      .vector-editing {
        background: url(../img/awesome/vector-editing.png) center top no-repeat;
      }

      .fast-performance__title, .prototyping__title, .vector-editing__title {
        font-size: $FPT-PT-VET-fontSize;
        font-weight: $FPT-PT-VET-fontWeight;
        line-height: $FPT-PT-VET-lineHeight;
      }

      .fast-performance__text, .prototyping__text, .vector-editing__text {
        color: $FPT-PT-VET-text-color;
        line-height: $FPT-PT-VET-text-lineHeight;
        max-width: 100%;
      }

      .fast-performance__title {
        color: $FPT-color;
      }

      .prototyping__title {
        color: $PT-color;
      }

      .vector-editing__title {
        color: $VET-color;
      }

    }

  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap {
    padding-top: 100px;

    .awesome-apps {
      flex-direction: row;
      align-items: flex-start;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap {

    .awesome-apps {

      .awesome-apps__advantages {

        .advantages__title {
          font-size: $advantagesTitle-fontSize800;
          line-height: $advantagesTitle-lineHeight800;
        }

        .fast-performance, .prototyping, .vector-editing {
          padding-top: 0;
          padding-left: 120px;
        }

        .fast-performance {
          background-position: left center;
        }

        .prototyping {
          background-position: left center;
        }

        .vector-editing {
          background-position: left center;
        }

      }

    }

  }

}

/* Smart Jackpots */
.smart-jackpots-wrap {
  padding-top: 30px;

  .smart-jackpots {
    display: flex;
    flex-direction: column;

    &__slogan {
      font-size: $smartJackpotsSlogan-fontSize;
      font-weight: $smartJackpotsSlogan-fontWeight;
      line-height: $smartJackpotsSlogan-lineHeight;
      color: $smartJackpotsSlogan-color;

      border-bottom: $smartJackpotsSlogan-borderBottom;

      padding-bottom: 30px;
    }

    &__text {
      font-size: $smartJackpotsText-fontSize;
      line-height: $smartJackpotsText-lineHeight;
      color: $smartJackpotsText-color;

      padding-top: 30px;
    }

  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* Smart Jackpots */
  .smart-jackpots-wrap {

    .smart-jackpots {
      flex-direction: row;
      align-items: flex-start;

      &__slogan {
        border-bottom: $smartJackpotsText-borderBottom600;
        border-right: $smartJackpotsText-borderRight600;

        padding-right: 30px;
      }

      &__text {
        padding-left: 30px;
      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* Smart Jackpots */
  .smart-jackpots-wrap {

    .smart-jackpots {

      &__slogan {
        font-size: $smartJackpotsSlogan-fontSize800;
        font-weight: $smartJackpotsSlogan-fontWeight800;
        line-height: $smartJackpotsSlogan-lineHeight800;

        padding-right: 73px;
      }

      &__text {
        padding-left: 48px;
      }

    }

  }

}


/* --------- Automatic Payouts --------- */
.automatic-payouts-wrap {
  padding-top: 50px;

  .automatic-payouts-block {
    display: flex;
    flex-direction: column;

    .automatic-payouts, .network-effect, .bigger-rewards-method {
      padding-top: 100px;
      width: 100%;
    }

    .automatic-payouts, .network-effect {
      margin-bottom: 50px;
    }

    .automatic-payouts {
      background: url(../img/automatic-payouts/automatic-payouts.png) center top no-repeat;
    }

    .network-effect {
      background: url(../img/automatic-payouts/network-effect.png) center top no-repeat;
    }

    .bigger-rewards-method {
      background: url(../img/automatic-payouts/bigger-rewards-method.png) center top no-repeat;
    }

    .automatic-payouts__title, .network-effect__title, .bigger-rewards-method__title {
      font-size: $APT-NET-BRMT-FontSize;
      font-weight: $APT-NET-BRMT-FontWeight;
      line-height: $APT-NET-BRMT-lineHeight;
    }

    .automatic-payouts__title {
      color: $APT-color;
    }

    .network-effect__title {
      color: $NET-color;
    }

    .bigger-rewards-method__title {
      color: $BRMT-color;
    }

    .automatic-payouts__text, .network-effect__text, .bigger-rewards-method__text {
      color: $APText-NEText-BRMText-color;
      line-height: $APText-NEText-BRMText-lineHeight;
    }

  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap {

    .automatic-payouts-block {
      flex-direction: row;
      justify-content: space-between;

      .automatic-payouts, .network-effect, .bigger-rewards-method {
        max-width: 215px;

        display: flex;
        flex-direction: column;
      }

      .automatic-payouts, .network-effect{
        padding-right: 20px;
      }

      .automatic-payouts {
        background-position: left top;
      }

      .network-effect {
        background-position: left top;
      }

      .bigger-rewards-method {
        background-position: left top;
      }

      .automatic-payouts__title, .network-effect__title, .bigger-rewards-method__title {
        line-height: $APT-NET-BRMT-lineHeight600;
        padding-bottom: 15px;
      }

      .automatic-payouts__title {
        flex: 1 1 auto;
      }

      .network-effect__title {
        flex: 1 1 auto;
      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap {
    padding-top: 110px;

    .automatic-payouts-block {

      .automatic-payouts, .network-effect, .bigger-rewards-method {
        max-width: 250px;
      }

      .automatic-payouts__title, .network-effect__title, .bigger-rewards-method__title {
        line-height: $APT-NET-BRMT-lineHeight800;

        padding-bottom: 0;
      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap {

    .automatic-payouts-block {

      .automatic-payouts, .network-effect, .bigger-rewards-method {
        max-width: 265px;
      }

      .automatic-payouts, .network-effect{
        padding-right: 0;
      }

    }

  }

}

/* --------- Designed --------- */
.designed-section {
  border-bottom: $designedSection-borderBottom;

  .designed-wrap {
    padding-top: 50px;
    padding-bottom: 73px;

    width: 100%;
    max-width: 1390px;
    margin: 0 auto;

    color: $designedWrap-color;

    .designed {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;

      .designed-img img {
        max-width: 100%;
        height: auto;
      }

      .designed-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 50px;
        max-width: 330px;

        .designed-content__title {
          font-size: $designedContentTitle-fontSize;
          font-weight: $designedContentTitle-fontWeight;
          line-height: $designedContentTitle-lineHeight;
        }

        .designed-content__text {
          padding: 20px 0 50px 0;
          color: $designedContentText-color;
          line-height: $designedContentText-lineHeight;
        }

        .designed-content__btn {
          @extend %button;
        }

      }

    }

  }

}



/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Designed --------- */
  .designed-section {

    .designed-wrap {
      padding-top: 100px;

      .designed {
        flex-direction: row;
        align-items: center;

        .designed-img {
          padding-right: 8%;
        }

      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Awesome Apps --------- */
  .designed-section {

    .designed-wrap {

      .designed {

        .designed-content {

          .designed-content__title {
            font-size: $designedContentTitle-fontSize800;
            line-height: $designedContentTitle-lineHeight800;
          }

        }

      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Awesome Apps --------- */
  .designed-section {

    .designed-wrap {

      .designed {
        padding-left: 50px;
      }

    }

  }

}


/* --------- Why Choose --------- */
.why-choose-wrap {
  color: $whyChooseWrap-color;

  padding-top: 70px;

  .why-choose {
    display: grid;
    grid-template-rows: 6% 8%;
    justify-items: center;

    .why-choose__title {
      font-size: $whyChooseTitle-fontSize;
      line-height: $whyChooseTitle-lineHeight;
      font-weight: $whyChooseTitle-fontWeight;
      color: $whyChooseTitle-color;
      text-align: $whyChooseTitle-textAlign;
      max-width: 440px;
    }

    .why-choose__text {
      line-height: $whyChooseText-lineHeight;
      text-align: $whyChooseText-textAlign;
      padding-bottom: 50px;
      max-width: 640px;
    }

    .why-choose-advantages {
      display: grid;
      grid-template-rows: repeat(6, 1fr);

      .why-choose-advantages__item {
        padding-top: 100px;
        padding-bottom: 50px;

        .why-choose-advantages__title {
          font-size: $whyChooseAdvantagesTitle-fontSize;
          line-height: $whyChooseAdvantagesTitle-lineHeight;
          font-weight: $whyChooseAdvantagesTitle-fontWeight;
          color: $whyChooseAdvantagesTitle-color;
          text-align: $whyChooseAdvantagesTitle-textAlign;
        }

        .why-choose-advantages__text {
          line-height: $whyChooseAdvantagesText-lineHeight;
          text-align: $whyChooseAdvantagesText-textAlign;
          max-width: 300px;
        }

      }

      .why-choose-advantages__item_app-development {
        background: url(../img/why-choose/app-development.png) center top no-repeat;
      }

      .why-choose-advantages__item_10-times-award {
        background: url(../img/why-choose/10-times-award.png) center top no-repeat;
      }

      .why-choose-advantages__item_cloud-storage {
        background: url(../img/why-choose/cloud-storage.png) center top no-repeat;
      }

      .why-choose-advantages__item_customization {
        background: url(../img/why-choose/customization.png) center top no-repeat;
      }

      .why-choose-advantages__item_ux-planning {
        background: url(../img/why-choose/ux-planning.png) center top no-repeat;
      }

      .why-choose-advantages__item_customer-support {
        background: url(../img/why-choose/customer-support.png) center top no-repeat;
      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Why Choose --------- */
  .why-choose-wrap {

    .why-choose {
      grid-template-rows: repeat(2, 1fr);

      .why-choose__title {
        font-size: $whyChooseTitle-fontSize800;
        line-height: $whyChooseTitle-lineHeight800;
      }

      .why-choose-advantages {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5%;

      }

    }

  }

}


/* --------- Ultimate Features --------- */
.ultimate-features-section {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;

  .ultimate-features__phone {
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      margin-left: 6%;
    }

  }

  .ultimate-features-wrap {
      width: 100%;
      max-width: 1070px;
      margin: 0 auto;

      color: #616368;

      .ultimate-features {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .ultimate-features-content {
          padding: 0 15px;
          text-align: center;

          .ultimate-features-content__title {
            font-size: 28px;
            line-height: 33px;
            font-weight: 700;
            color: #242f51;
            padding-top: 50px;
            padding-bottom: 50px;
          }

          .ultimate-features-content__text {
            line-height: 26px;
            padding-bottom: 50px;
          }

          .ultimate-features-advantages {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr;
            align-items: center;

            .ultimate-features-advantages__item {
              padding-top: 100px;
              padding-bottom: 50px;

              .ultimate-features-advantages__title {
                font-size: 20px;
                line-height: 58px;
                font-weight: 700;
                color: #242f51;
              }

              .ultimate-features-advantages__text {
                line-height: 26px;
              }

            }

            .ultimate-features-advantages__item_app-development {
              background: url(../img/ultimate-features/app-development.png) center top no-repeat;
            }

            .ultimate-features-advantages__item_ux-planing {
              background: url(../img/ultimate-features/ux-planing.png) center top no-repeat;
            }

            .ultimate-features-advantages__item_cloud-storage {
              background: url(../img/ultimate-features/cloud-storage.png) center top no-repeat;
            }

            .ultimate-features-advantages__item_customer-support {
              background: url(../img/ultimate-features/customer-support.png) center top no-repeat;
            }

            .ultimate-features-advantages__btn {
              @extend %button;
              margin: 0 auto;
            }

          }

        }

      }

  }

}

/* Min-Width 400px */
@include respond-to('minW-400px') {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {
    padding-top: 70px;
  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {
    padding-top: 100px;
  }

}


/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {
    position: relative;

    .ultimate-features__phone {
      position: absolute;
      top: 20%;
      right: 0;
      width: 48%;
      padding-left: 3%;
    }

    .ultimate-features-wrap {

        .ultimate-features {
          flex-direction: row;
          align-items: center;

          .ultimate-features-content {
            text-align: left;

            .ultimate-features-content__title {
              font-size: 36px;
              line-height: 46px;
              max-width: 330px;
            }

            .ultimate-features-content__text {
              line-height: 26px;
              max-width: 400px;
            }

            .ultimate-features-advantages {
              grid-column-gap: 5%;
              grid-template-rows: 46% 45% 9%;
              grid-template-columns: repeat(2, 26%);

              .ultimate-features-advantages__item {

                .ultimate-features-advantages__text {
                  max-width: 600px;
                }

              }

              .ultimate-features-advantages__btn {
                margin: 0;
              }

            }

          }

        }

    }

  }

}

/* Min-Width 1300px */
@include respond-to('minW-1300px') {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {

    .ultimate-features__phone {
      padding-left: 0;
    }

  }

}


/* --------- Awesome Features --------- */
.awesome-features-wrap {
  padding-bottom: 28px;
  border-bottom: 1px solid #f4f4f4;

  .awesome-features {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    text-align: $awesomeFeatures-textAlign;

    .awesome-features__title {
      font-size: $awesomeFeaturesTitle-fontSize;
      font-weight: $awesomeFeaturesTitle-fontWeight;
      line-height: $awesomeFeaturesTitle-lineHeight;
      color: $awesomeFeaturesTitle-color;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 0 auto;
      max-width: 450px;
    }

    .awesome-features__text {
      line-height: $awesomeFeaturesText-lineHeight;
      padding-bottom: 50px;
      position: relative;

      div {
        max-width: 640px;
        margin: 0 auto;
      }

    }

    /* Switch Button */
    .toggleWrapper {
    	position: absolute;
    	top: 100%;
    	left: 49%;
    	overflow: hidden;
    	-webkit-transform: translate3d(-50%, -50%, 0);
    	transform: translate3d(-50%, -50%, 0);
      text-align: left;

      & input {
        position: absolute;
        left: -99em;

        &:checked + .toggle {
          background: #fff;
        }

        &:checked + .toggle:before {
          color: #fff;
        }

        &:checked + .toggle:after {
          color: #fff;
        }

        &:checked + .toggle .toggle__handler {
          width: 94px;
          -webkit-transform: translateX(110px);
          transform: translateX(100px);
          border-color: #fff;
        }

      }

      .toggle {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 200px;
        height: 54px;
        background: #fff;
        -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        border: 2px solid #ebebeb;
        border-radius: 20px;

        &:before, &:after {
          position: absolute;
          line-height: 50px;
          font-size: 14px;
          z-index: 2;
          -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }

        &:before {
          content: "Monthly";
          left: 23px;
          color: #fff;
          font-weight: 700;
        }

        &:after {
          content: "Annually";
          right: 15px;
          color: #fff;
          font-weight: 700;
        }

        &__handler {
          display: inline-block;
          position: relative;
          z-index: 1;
          background: #2500f9;
          width: 100px;
          height: 44px;
          border-radius: 20px;
          top: 3px;
          left: 3px;
          -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          -webkit-transform: translateX(0px);
          transform: translateX(0px);
        }

      }

    }

  }

  .prices {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    padding-top: 50px;
    color: $prices-color;
    text-align: center;

    .prices__item {
      -webkit-box-shadow: $pricesItem-boxShadow;
         -moz-box-shadow: $pricesItem-boxShadow;
              box-shadow: $pricesItem-boxShadow;
      margin-bottom: 50px;

      .prices__header {
        background: $pricesHeader-bg;
        background: $pricesHeader-linearGradient;
        border-radius: $pricesHeader-bdrs;

        padding: 30px 0;

        .prices__price {
          font-size: $pricesPrice-fontSize;
          line-height: $pricesPrice-lineHeight;

          span {
            font-size: $pricesPriceSpan-fontSize;
            font-weight: $pricesPriceSpan-fontWeight;
            color: $pricesPriceSpan-fontWeight;
          }

        }

        .prices__plan {
          line-height: $pricesPlan-lineHeight;

          span {
            font-size: $pricesPlan-fontSize;
            font-weight: $pricesPlan-fontWeight;
            color: $pricesPlan-color;
          }

        }

      }

      .prices__footer {
        padding: 30px 0;

        .prices__text {
          line-height: $pricesText-lineHeight;
        }

        .prices__btn {
          @extend %button;
          margin: 0 auto;
          width: 210px;
        }

        .prices__free-trial {
          color: $pricesFreeTrial-color;
          margin-top: 25px;
        }

      }

    }

    .prices__item_active {
      box-shadow: $pricesItemActive-boxShadow;
      border: $pricesItemActive-border;
      border-radius: $pricesItemActive-bdrs;
    }

  }

}


/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Awesome Features --------- */
  .awesome-features-wrap {

    .awesome-features {
      position: relative;
    }

    .prices {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 47%);
      grid-column-gap: 30px;
      justify-content: center;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Awesome Features --------- */
  .awesome-features-wrap {

    .prices {
      grid-template-columns: repeat(2, 33%);
    }

  }

}


/* --------- Client Satisfaction --------- */
.checked {
  color: orange;
}







// /* --------- Awesome Apps --------- */
// .awesome-apps-wrap {
//   padding-top: 50px;
//   width: 100%;
//   max-width: 1390px;
//   margin: 0 auto;
//
//   color: $awesomeAppsWrap-color;
//
//   .awesome-apps {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//
//     &__phone img {
//       max-width: 100%;
//       height: auto;
//     }
//
//     &__advantages {
//       padding-top: 50px;
//       max-width: 440px;
//       padding: 0 15px;
//
//       .advantages__title {
//         font-size: $advantagesTitle-fontSize;
//         font-weight: $advantagesTitle-fontWeight;
//         line-height: $advantagesTitle-lineHeight;
//         max-width: 100%;
//       }
//
//       .advantages__text {
//         padding: 20px 0 50px 0;
//         color: $advantagesText-color;
//         line-height: $advantagesText-lineHeight;
//       }
//
//       .fast-performance, .prototyping, .vector-editing {
//         padding-top: 120px;
//       }
//
//       .fast-performance, .prototyping {
//         margin-bottom: 30px;
//       }
//
//       .fast-performance {
//         background: url(../img/awesome/fast-performance.png) center top no-repeat;
//       }
//
//       .prototyping {
//         background: url(../img/awesome/prototyping.png) center top no-repeat;
//       }
//
//       .vector-editing {
//         background: url(../img/awesome/vector-editing.png) center top no-repeat;
//       }
//
//       .fast-performance__title, .prototyping__title, .vector-editing__title {
//         font-size: $FPT-PT-VET-fontSize;
//         font-weight: $FPT-PT-VET-fontWeight;
//         line-height: $FPT-PT-VET-lineHeight;
//       }
//
//       .fast-performance__text, .prototyping__text, .vector-editing__text {
//         color: $FPT-PT-VET-text-color;
//         line-height: $FPT-PT-VET-text-lineHeight;
//         max-width: 100%;
//       }
//
//       .fast-performance__title {
//         color: $FPT-color;
//       }
//
//       .prototyping__title {
//         color: $PT-color;
//       }
//
//       .vector-editing__title {
//         color: $VET-color;
//       }
//
//     }
//
//   }
//
// }
