@import '_reset';
@import '_variables';
@import '_mixins';
@import '_common';

/* --------- Header --------- */
/* Logo-Nav */
.header__elements {
  height: 65px;

  .nav-wrap {
    position: relative;
    z-index: 10;

    .logo-nav {
      display: grid;
      grid-template-columns: 53% 47%;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      height: 65px;

      &__logo {
        @extend %logo;
      }

      &__nav {
        display: none;

        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        z-index: 100;

        &.active {
          display: block;
        }

      }

      .nav__item {
        display: block;
        color: $navItem-color;
        line-height: $navItem-lineHeight;
        padding-left: 1em;

        background-color: $navItem-bgc;

        &:hover {
          background-color: $navItemHover-bgc;
          transition: background-color .1s linear;
        }

      }

      /* Nav-Toggle */
      .nav-toggle {
        width: 35px;
        height: 50px;
        display: block;

        font-size: 0;
        color: transparent;

        border: 0;
        background: none;
        cursor: pointer;

        position: absolute;
        top: 12px;
        right: 15px;

        &:focus {
          outline: none;
        }

        &__item {
          display: block;
          width: 100%;
          height: 5px;

          background-color: $navToggleItem-bgc;

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          margin: auto;

          &::before,
          &::after {
            content: '';
            width: 100%;
            height: 5px;

            background-color: $navToggleBeforeAfter-bgc;

            position: absolute;
            left: 0;
            z-index: 1;

            transition: transform .2s linear;
          }

          &::before {
            top: -10px;
          }

          &::after {
            bottom: -10px;
          }

        }

      }

      .nav-toggle.active .nav-toggle__item {
        background: none;

        &::before {
          transform: rotate(-45deg) translate(-7px, 6px);
        }

        &::after {
          transform: rotate(45deg) translate(-8px, -8px);
        }

      }

    }

  }

  .nav-wrap.fixed {
    background-color: $navWrapFixed-bgc;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    color: $navWrapFixed-color;

    .nav__item {

      &:hover {

        span::after {
          background-color: $navWrapFixedNavItemHoverSpanAfter-bgc;
        }

      }

    }

    .nav-toggle {
      top: 6px;
    }

  }

}


/* Min-Width 900px */
@include respond-to('minW-900px') {

  /* Navigation */
  .header__elements {

    .nav-wrap {

      .logo-nav {
        grid-template-columns: 25% 75%;
        padding-top: 93px;

        &__nav {
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: static;
        }

        .nav__item {
          display: inline-block;
          line-height: $navItem-lineHeight900;
          color: $navItem-color900;
          background: $navItem-bg900;

          &:hover {
            background: $navItemHover-bg900;
            transition: color .2s;

            span::after {
              position: absolute;
              left: 0;
              bottom: 0;
              content: "";
              width: 100%;
              height: 2px;
              background-color: $navWrapFixedNavItemHoverSpanAfter-bgc;
            }

          }

        }

        .nav__item span {
          position: relative;
        }

        .current {
          display: inline-block;
          background-color: $button-bgc;
          color: $button-color;
          font-weight: $button-fontWeight;
          line-height: $button-lineHeight;
          border-radius: $button-bdrs;
          padding: 0 40px;
          width: 175px;

          &:hover {
            color: $buttonHover-color;
            background-color: $buttonHover-bgc;
            transition: background-color .2s;
          }

        }

        .nav-toggle {
          display: none;
        }

      }

    }

    .nav-wrap.fixed {

      .logo-nav {
        padding-top: 0;
      }

    }

  }

}

/* Min-Width 1024px */
@include respond-to('minW-1024px') {

  /* Navigation */
  .header__elements {

    .nav-wrap.fixed {

      .logo-nav {
        padding: 0 15px;
      }

    }

  }

}

/* Min-Width 1200px */
@include respond-to('minW-1200px') {

  /* Navigation */
  .header__elements {

    .logo-nav {
      max-width: 1070px;
      margin: 0 auto;
    }

    .logo-nav.fixed {
      padding: 10px 35px 10px 35px;
    }

  }

}

/* Header Text */
.header-text-wrap {
  max-height: 1170px;
  background: url(../img/header-bg.png) left bottom / auto repeat-x;
  padding-top: 20px;

  .header-text-phone {
    display: grid;
    justify-items: center;

    .header-text-block__editors-choice {
      background: $headerTextBlockEditorsChoice-bgc url(../img/editors-choice.png) left no-repeat;
      padding-left: 45px;
      font-size: $headerTextBlockEditorsChoice-fontSize;
      line-height: $headerTextBlockEditorsChoice-lineHeight;
      border-radius: $headerTextBlockEditorsChoice-bdrs;
    }

    .header-text-block__title {
      @extend %mobile-headers;
      margin: 20px 0 20px 0;
    }

    .header-text-block__slogan {
      margin-bottom: 30px;
      line-height: $headerTextBlockSlogan-lineHeight;
    }

    .header-text-block__demo-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .demo-wrap__button {
        @extend %button;
      }

      .demo-wrap__watch-demo {
        color: $demoWrapWatchDemo-color;
        margin-top: 25px;

        &:hover {
          text-decoration: underline;
        }

      }

    }

  }

  .header-phone {
    max-width: 100%;
    height: auto;
  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  .header-text-wrap {

    .header-text-phone {
      grid-template-columns: 51% 46%;
      grid-column-gap: 3%;
      justify-content: end;
      align-items: center;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  .header-text-wrap {

    .header-text-phone {

      .header-text-block__editors-choice {
        width: 367px;
        font-size: $headerTextBlockEditorsChoice800-fontSize;
      }

      .header-text-block__title {
        font-size: $headerTextBlockTitle800-fontSize;
        line-height: $headerTextBlockTitle800-lineHeight;
        text-align: left;
      }

      .header-text-block__demo-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 350px;

        .demo-wrap__watch-demo {
          margin-top: 0;
        }

      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  .header-text-wrap {
    padding-top: 80px;

    .header-text-phone {

      .header-text-block__title {
        font-size: $headerTextBlockTitle900-fontSize;
      }

    }

  }

}


/* --------- Logos --------- */
.logos-wrap {
  padding-top: 50px;

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logos-title {
    margin-bottom: 36px;
  }

  .logos-images {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      padding: 15px;
    }

  }
}

/* Min-Width 400px */
@include respond-to('minW-400px') {
  .logos-wrap {

    .logos-images {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  .logos-wrap {
    padding-top: 116px;
  }

}

/* --------- Awesome Apps --------- */
.awesome-apps-wrap {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;

  .awesome-apps {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__phone img {
      max-width: 100%;
      height: auto;
    }

    &__advantages {
      padding-top: 50px;
      max-width: 440px;
      padding: 0 15px;

      .advantages__title {
        @extend %mobile-headers;
        max-width: 100%;
      }

      .advantages__text {
        padding: 20px 0 50px 0;
        line-height: $advantagesText-lineHeight;
      }

      .fast-performance, .prototyping, .vector-editing {
        padding-top: 120px;
      }

      .fast-performance, .prototyping {
        margin-bottom: 30px;
      }

      .fast-performance {
        background: url(../img/awesome/fast-performance.png) center top no-repeat;
      }

      .prototyping {
        background: url(../img/awesome/prototyping.png) center top no-repeat;
      }

      .vector-editing {
        background: url(../img/awesome/vector-editing.png) center top no-repeat;
      }

      .fast-performance__title, .prototyping__title, .vector-editing__title {
        @extend %awesomeApps-smartJackpots-titles;
      }

      .fast-performance__text, .prototyping__text, .vector-editing__text {
        line-height: $FPT-PT-VET-text-lineHeight;
        max-width: 100%;
      }

      .fast-performance__title {
        color: $FPT-color;
      }

      .prototyping__title {
        color: $PT-color;
      }

      .vector-editing__title {
        color: $VET-color;
      }

    }

  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap {
    padding-top: 100px;

    .awesome-apps {
      flex-direction: row;
      align-items: flex-start;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Awesome Apps --------- */
  .awesome-apps-wrap {

    .awesome-apps {

      .awesome-apps__advantages {

        .advantages__title {
          font-size: $advantagesTitle-fontSize800;
          line-height: $advantagesTitle-lineHeight800;
        }

        .fast-performance, .prototyping, .vector-editing {
          padding-top: 0;
          padding-left: 120px;
        }

        .fast-performance {
          background-position: left center;
        }

        .prototyping {
          background-position: left center;
        }

        .vector-editing {
          background-position: left center;
        }

      }

    }

  }

}

/* Smart Jackpots */
.smart-jackpots-wrap {
  padding-top: 30px;

  .smart-jackpots {
    display: flex;
    flex-direction: column;

    &__slogan {
      @extend %mobile-headers;

      border-bottom: $smartJackpotsSlogan-borderBottom;

      padding-bottom: 30px;
    }

    &__text {
      font-size: $smartJackpotsText-fontSize;
      line-height: $smartJackpotsText-lineHeight;

      padding-top: 30px;
    }

  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* Smart Jackpots */
  .smart-jackpots-wrap {

    .smart-jackpots {
      flex-direction: row;
      align-items: flex-start;

      &__slogan {
        border-bottom: $smartJackpotsText-borderBottom600;
        border-right: $smartJackpotsText-borderRight600;

        padding-right: 30px;
      }

      &__text {
        padding-left: 30px;
      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* Smart Jackpots */
  .smart-jackpots-wrap {

    .smart-jackpots {

      &__slogan {
        font-size: $smartJackpotsSlogan-fontSize800;
        font-weight: $smartJackpotsSlogan-fontWeight800;
        line-height: $smartJackpotsSlogan-lineHeight800;

        padding-right: 73px;
      }

      &__text {
        padding-left: 48px;
      }

    }

  }

}


/* --------- Automatic Payouts --------- */
.automatic-payouts-wrap {
  padding-top: 50px;

  .automatic-payouts-block {
    display: flex;
    flex-direction: column;

    .automatic-payouts, .network-effect, .bigger-rewards-method {
      padding-top: 100px;
      width: 100%;
    }

    .automatic-payouts, .network-effect {
      margin-bottom: 50px;
    }

    .automatic-payouts {
      background: url(../img/automatic-payouts/automatic-payouts.png) center top no-repeat;
    }

    .network-effect {
      background: url(../img/automatic-payouts/network-effect.png) center top no-repeat;
    }

    .bigger-rewards-method {
      background: url(../img/automatic-payouts/bigger-rewards-method.png) center top no-repeat;
    }

    .automatic-payouts__title, .network-effect__title, .bigger-rewards-method__title {
      @extend %awesomeApps-smartJackpots-titles;
    }

    .automatic-payouts__title {
      color: $APT-color;
    }

    .network-effect__title {
      color: $NET-color;
    }

    .bigger-rewards-method__title {
      color: $BRMT-color;
    }

    .automatic-payouts__text, .network-effect__text, .bigger-rewards-method__text {
      line-height: $APText-NEText-BRMText-lineHeight;
    }

  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap {

    .automatic-payouts-block {
      flex-direction: row;
      justify-content: space-between;

      .automatic-payouts, .network-effect, .bigger-rewards-method {
        max-width: 215px;

        display: flex;
        flex-direction: column;
      }

      .automatic-payouts, .network-effect{
        padding-right: 20px;
      }

      .automatic-payouts {
        background-position: left top;
      }

      .network-effect {
        background-position: left top;
      }

      .bigger-rewards-method {
        background-position: left top;
      }

      .automatic-payouts__title, .network-effect__title, .bigger-rewards-method__title {
        line-height: $APT-NET-BRMT-lineHeight600;
        padding-bottom: 15px;
      }

      .automatic-payouts__title {
        flex: 1 1 auto;
      }

      .network-effect__title {
        flex: 1 1 auto;
      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap {
    padding-top: 110px;

    .automatic-payouts-block {

      .automatic-payouts, .network-effect, .bigger-rewards-method {
        max-width: 250px;
      }

      .automatic-payouts__title, .network-effect__title, .bigger-rewards-method__title {
        line-height: $APT-NET-BRMT-lineHeight800;

        padding-bottom: 0;
      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Automatic Payouts --------- */
  .automatic-payouts-wrap {

    .automatic-payouts-block {

      .automatic-payouts, .network-effect, .bigger-rewards-method {
        max-width: 265px;
      }

      .automatic-payouts, .network-effect{
        padding-right: 0;
      }

    }

  }

}

/* --------- Designed --------- */
.designed-section {
  border-bottom: $separator-borderBottom;

  .designed-wrap {
    padding-top: 50px;
    padding-bottom: 50px;

    width: 100%;
    max-width: 1390px;
    margin: 0 auto;

    color: $designedWrap-color;

    .designed {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;

      .designed-img img {
        max-width: 100%;
        height: auto;
      }

      .designed-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 50px;
        max-width: 330px;

        .designed-content__title {
          @extend %mobile-headers;
        }

        .designed-content__text {
          padding: 20px 0 50px 0;
          line-height: $designedContentText-lineHeight;
        }

        .designed-content__btn {
          @extend %button;
        }

      }

    }

  }

}



/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Designed --------- */
  .designed-section {

    .designed-wrap {
      padding-top: 100px;

      .designed {
        flex-direction: row;
        align-items: center;

        .designed-img {
          padding-right: 8%;
        }

      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Awesome Apps --------- */
  .designed-section {

    .designed-wrap {

      .designed {

        .designed-content {

          .designed-content__title {
            font-size: $designedContentTitle-fontSize800;
            line-height: $designedContentTitle-lineHeight800;
          }

        }

      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Awesome Apps --------- */
  .designed-section {

    .designed-wrap {

      .designed {
        padding-left: 50px;
      }

    }

  }

}


/* --------- Why Choose --------- */
.why-choose-wrap {
  padding-top: 50px;
  text-align: center;

  .why-choose {

    .why-choose__title {
      @extend %mobile-headers;
      max-width: 440px;
      margin: 0 auto;
    }

    .why-choose__text {
      line-height: $whyChooseText-lineHeight;
      padding: 50px 0;
      max-width: 640px;
      margin: 0 auto;
    }

    .why-choose-advantages {
      display: grid;
      grid-template-rows: repeat(6, 1fr);

      .why-choose-advantages__item {
        padding-top: 100px;
        padding-bottom: 50px;

        .why-choose-advantages__title {
          @extend %whyChoose-UltimateFeatures-AT;
        }

        .why-choose-advantages__text {
          line-height: $whyChooseAdvantagesText-lineHeight;
          text-align: $whyChooseAdvantagesText-textAlign;
          max-width: 300px;
          margin: 0 auto;
        }

      }

      .why-choose-advantages__item_app-development {
        background: url(../img/why-choose/app-development.png) center top no-repeat;
      }

      .why-choose-advantages__item_10-times-award {
        background: url(../img/why-choose/10-times-award.png) center top no-repeat;
      }

      .why-choose-advantages__item_cloud-storage {
        background: url(../img/why-choose/cloud-storage.png) center top no-repeat;
      }

      .why-choose-advantages__item_customization {
        background: url(../img/why-choose/customization.png) center top no-repeat;
      }

      .why-choose-advantages__item_ux-planning {
        background: url(../img/why-choose/ux-planning.png) center top no-repeat;
      }

      .why-choose-advantages__item_customer-support {
        background: url(../img/why-choose/customer-support.png) center top no-repeat;
      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Why Choose --------- */
  .why-choose-wrap {

    .why-choose {
      grid-template-rows: repeat(2, 1fr);

      .why-choose__title {
        font-size: $whyChooseTitle-fontSize800;
        line-height: $whyChooseTitle-lineHeight800;
      }

      .why-choose-advantages {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5%;

      }

    }

  }

}


/* --------- Ultimate Features --------- */
.ultimate-features-section {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  position: relative;

  .ultimate-features__phone {
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      margin-left: 6%;
    }

  }

  .ultimate-features-wrap {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;

    .ultimate-features {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .ultimate-features-content {
        padding: 0 15px;
        text-align: center;

        .ultimate-features-content__title {
          @extend %mobile-headers;
          padding-top: 50px;
          padding-bottom: 50px;
        }

        .ultimate-features-content__text {
          line-height: 26px;
          padding-bottom: 50px;
        }

        .ultimate-features-advantages {
          display: grid;
          grid-template-rows: repeat(3, 1fr);
          grid-template-columns: 1fr;
          align-items: center;

          .ultimate-features-advantages__item {
            padding-top: 100px;
            padding-bottom: 50px;

            .ultimate-features-advantages__title {
              @extend %whyChoose-UltimateFeatures-AT;

            }

            .ultimate-features-advantages__text {
              line-height: $ultimateFeaturesAdvantagesText-lineHeight;
            }

          }

          .ultimate-features-advantages__item_app-development {
            background: url(../img/ultimate-features/app-development.png) center top no-repeat;
          }

          .ultimate-features-advantages__item_ux-planing {
            background: url(../img/ultimate-features/ux-planing.png) center top no-repeat;
          }

          .ultimate-features-advantages__item_cloud-storage {
            background: url(../img/ultimate-features/cloud-storage.png) center top no-repeat;
          }

          .ultimate-features-advantages__item_customer-support {
            background: url(../img/ultimate-features/customer-support.png) center top no-repeat;
          }

          .ultimate-features-advantages__btn {
            @extend %button;
            margin: 0 auto;
            padding: 0 60px;
          }

        }

      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {
    position: relative;

    .ultimate-features__phone {
      position: absolute;
      top: 20%;
      right: 0;
      width: 48%;
      padding-left: 3%;
    }

    .ultimate-features-wrap {

        .ultimate-features {
          flex-direction: row;
          align-items: center;

          .ultimate-features-content {
            text-align: left;

            .ultimate-features-content__title {
              font-size: 36px;
              line-height: 46px;
              max-width: 330px;
            }

            .ultimate-features-content__text {
              line-height: 26px;
              max-width: 400px;
            }

            .ultimate-features-advantages {
              grid-column-gap: 5%;
              grid-template-rows: 46% 45% 9%;
              grid-template-columns: repeat(2, 26%);

              .ultimate-features-advantages__item {

                .ultimate-features-advantages__text {
                  max-width: 600px;
                }

              }

              .ultimate-features-advantages__btn {
                margin: 0;
              }

            }

          }

        }

    }

  }

}

/* Min-Width 1300px */
@include respond-to('minW-1300px') {
  /* --------- Ultimate Features --------- */
  .ultimate-features-section {

    .ultimate-features__phone {
      padding-left: 0;
    }

  }

}


/* --------- Awesome Features --------- */
.awesome-features-wrap {
  border-bottom: $separator-borderBottom;
  position: relative;
  padding-bottom: 20px;

  .awesome-features {
    display: grid;
    text-align: $awesomeFeatures-textAlign;

    .awesome-features__title {
      @extend %mobile-headers;
      padding: 40px 0;
      margin: 0 auto;
    }

    .awesome-features__text {
      line-height: $awesomeFeaturesText-lineHeight;
      position: relative;
      padding-bottom: 40px;

      div {
        max-width: 640px;
        margin: 0 auto;
      }

    }

    /* Switch Button */
    .toggleWrapper {
    	overflow: hidden;
      margin: auto;
      text-align: left;
      padding-bottom: 40px;

      & input {
        width: 0;
        height: 0;

        &:checked + .toggle {
          background: #fff;
        }

        &:checked + .toggle:before {
          color: #fff;
        }

        &:checked + .toggle:after {
          color: #fff;
        }

        &:checked + .toggle .toggle__handler {
          width: 94px;
          -webkit-transform: translateX(110px);
          transform: translateX(100px);
          border-color: #fff;
        }

      }

      .toggle {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 200px;
        height: 54px;
        background: #fff;
        border: 2px solid #ebebeb;
        border-radius: 20px;

        &:before, &:after {
          position: absolute;
          line-height: 50px;
          font-size: 14px;
          z-index: 2;
        }

        &:before {
          content: "Monthly";
          left: 23px;
          color: #fff;
          font-weight: 700;
        }

        &:after {
          content: "Annually";
          right: 15px;
          color: #fff;
          font-weight: 700;
        }

        &__handler {
          display: inline-block;
          position: relative;
          z-index: 1;
          background: #2500f9;
          width: 100px;
          height: 44px;
          border-radius: 20px;
          top: 3px;
          left: 3px;
          -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          -webkit-transform: translateX(0px);
          transform: translateX(0px);
        }

      }

    }

    .prices {

      .prices__item {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding: 2px;

        .prices__shadow {
          -webkit-box-shadow: $pricesShadow-boxShadow;
             -moz-box-shadow: $pricesShadow-boxShadow;
                  box-shadow: $pricesShadow-boxShadow;

          .prices__first {
            background: $pricesFirst-bg;
            background: $pricesFirst-linearGradient;
            border-radius: $pricesFirst-bdrs;
            padding: 30px 0;

            .prices__price {
              font-size: $pricesPrice-fontSize;
              line-height: $pricesPrice-lineHeight;

              .text1, .text2 {
                grid-template-columns: 40% 25%;
                justify-content: center;
                justify-items: end;

                .price-num {
                  font-size: $pricesNum-fontSize;
                  font-weight: $pricesNum-fontWeight;
                  color: $pricesNum-color;
                }

              }

              .text1 {
                display: block;
              }

              .text2 {
                display: none;
              }

            }

            .prices__plan {
              line-height: $pricesPlan-lineHeight;

              span {
                font-size: $pricesPlanSpan-fontSize;
                font-weight: $pricesPlanSpan-fontWeight;
                color: $pricesPlanSpan-color;
              }

            }

          }

          .prices__second {
            padding: 30px 0;
            background-color: $pricesSecond-bgc;

            .prices__text {
              line-height: $pricesText-lineHeight;
            }

          }

          .prices__third {
            padding: 30px 0;
            background-color: $pricesThird-bgc;

            .prices__btn {
              @extend %button;
              margin: 0 auto;
              width: 210px;
            }

          }

        }

        .prices__fourth {
          visibility: hidden;

          .prices__free-trial {
            color: $pricesFreeTrial-color;
            background-color: $pricesFreeTrial-bgc;
            border-radius: $pricesFreeTrial-bdrs;
            padding: 20px 0;

            &:hover {
              text-decoration: underline;
            }

            a {
              opacity: 0;
            }

          }

        }

        &:hover.prices__item {
          background-color: $pricesItemHoverPricesItem-bgc;
          border-radius: $pricesItemHoverPricesItem-bdrs;
        }

        &:hover .prices__shadow {
          box-shadow: $pricesItemHoverPricesShadow-boxShadow;
          transition: $pricesItemHoverPricesShadow-transition;
        }

        &:hover .prices__fourth {
          visibility: visible;
        }

        &:hover .prices__free-trial a {
          opacity: 1;
          transition: opacity .5s;
        }

      }

    }

  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  /* --------- Awesome Features --------- */
  .awesome-features-wrap {

    .awesome-features {

      .prices {
        display: grid;
        grid-template-columns: 50% 50%;
        min-width: 560px;
        margin: auto;

        .prices__item {
          min-width: 260px;

          .prices__shadow {

            .prices__first {

              .prices__price {
                font-size: $pricesPrice600-fontSize;
              }

            }

          }

        }

      }

    }

  }

}

/* Min-Width 700px */
@include respond-to('minW-700px') {
  /* --------- Awesome Features --------- */
  .awesome-features-wrap {

    .awesome-features {

      .prices {
        min-width: 650px;

        .prices__item {
          min-width: 300px;

          .prices__shadow {

            .prices__first {

              .prices__price {
                font-size: $pricesPrice700-fontSize;
              }

            }

          }

        }

      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Awesome Features --------- */
  .awesome-features-wrap {

    .awesome-features {

      .prices {
        min-width: 680px;
      }

    }

  }

}

/* --------- Client Satisfaction --------- */
.client-satisfaction-wrap {
  padding-top: 50px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;

  .client-satisfaction {
    padding: 0 15px;
    text-align: $clientSatisfaction-textAlign;

    &__clients img {
      max-width: 100%;
      height: auto;
    }

    .client-feedback {

      &__title {
        @extend %mobile-headers;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      &__text {
        padding-bottom: 30px;
        line-height: $userFriendlyText-lineHeight;
      }

      &__ranking {
        padding-bottom: 30px;
        font-size: $clientFeedbackRanking-fontSize;

        & .checked {
          color: $clientFeedbackRankingCheked-color;
        }

      }

    }

    .user-friendly {

      &__title {
        font-size: $userFriendlyTitle-fontSize;
        font-weight: $userFriendlyTitle-fontWeight;
        line-height: $userFriendlyTitle-lineHeight;
        color: $userFriendlyTitle-color;
        margin-bottom: 30px;
      }

      &__text {
        line-height: 26px;
      }

    }

    .testimonial {
      padding-top: 30px;

      .slider-wrap {
        max-width: 300px;
        margin: 0 auto;

        .testimonial__item {
          display: grid;
          justify-items: center;
          align-items: center;
          grid-template-columns: 1fr;

          .testimonial__img {
            width: 90px;
            height: 90px;
          }

          .testimonial__person {
            text-align: center;

            .testimonial__name {
              font-size: $testimonialName-fontSize;
              font-weight: $testimonialName-fontWeight;
              line-height: $testimonialName-lineHeight;
              color: $testimonialName-color;
            }

          }

        }

      }

    }

  }

}

/* Slick Slider */
.slick-arrow {
  display: block;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-arrow:focus {
  outline: 0;
}

.slick-prev {
  left: 0;

  width: 50px;
  height: 50px;
  background: url(../img/clients/arrows-unactive.png) left top no-repeat;
  cursor: pointer;

  &:hover {
    background: url(../img/clients/arrows-active.png) left top no-repeat;
    transition: background .2s;
  }

}

.slick-next {
  right: 0;

  width: 50px;
  height: 50px;
  background: url(../img/clients/arrows-unactive.png) right top no-repeat;
  cursor: pointer;

  &:hover {
    background: url(../img/clients/arrows-active.png) right top no-repeat;
    transition: background .2s;
  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Client Satisfaction --------- */
  .client-satisfaction-wrap {

    .client-satisfaction {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 50%);
      align-items: end;
      text-align: left;

      .client-feedback {
        max-width: 520px;

        &__title {
          max-width: 440px;
        }

        &__text {
          max-width: 476px;
        }

        &__ranking {
          max-width: 135px;
        }

      }

      .user-friendly {
        max-width: 515px;
      }

      .testimonial {

        .slider-wrap {
          max-width: 582px;

          .testimonial__item {
            grid-template-columns: 110px 1fr;
            justify-items: start;

            .testimonial__person {
              text-align: $testimonialPerson900-textalign;

            }

          }

        }

      }

    }

  }

  /* Slick Slider */
  .slick-prev {
    left: initial;
    right: 65px;

    &::after {
      position: absolute;
      content: "";
      height: 25px;
      width: 1px;
      background-color: $slickPrevAfter900-bgc;
      top: 25%;
      right: -8px;
    }

  }

  .slick-next {
    right: 0;
  }

}


/* --------- Frequently Asked Questions --------- */
.faq-wrap {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: $separator-borderBottom;

  .faq {
    display: grid;
    grid-template-rows: 1fr;

    &__title {
      @extend %mobile-headers;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
    }

    &__text {
      padding-bottom: 30px;
      line-height: $faqText-lineHeight;
      text-align: center;
    }

    .accordion {

      .accordion__item {
        background-color: $accordionItem-bgc;
        margin-bottom: 15px;


        .accordion__header {
          position: relative;

          .accordion__title {
            font-size: $accordionTitle-fontSize;
            font-weight: $accordionTitle-fontWeight;
            line-height: $accordionTitle-lineHeight;
            color: $accordionTitle-color;
            padding: 30px;
            cursor: pointer;
            max-width: 90%;
          }

          .accordion__title::before {
            content: "";
            display: block;

            width: 4px;
            height: 20px;

            background-color: $accordionTitleBefore-color;

            position: absolute;
            top: 40%;
            right: 38px;
            z-index: 1;

            transform: rotate(90deg);
          }

          .accordion__title::after {
            content: "";
            display: block;

            width: 4px;
            height: 20px;

            background-color: $accordionTitleAfter-color;

            position: absolute;
            top: 40%;
            right: 38px;
            z-index: 1;
          }

        }

        .accordion__content {
          line-height: $accordionContent-lineHeight;
          padding: 0 30px 30px 30px;
          display: none;
        }

      }

      .accordion__item.active .accordion__content {
        display: block;
      }

      .accordion__item.active .accordion__title::before,
      .accordion__item.active .accordion__title::after {
        display: none;
      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Frequently Asked Questions --------- */
  .faq-wrap {

    .faq {
      text-align: left;

      &__title {
        font-size: $faqTitle-fontSize800;
        line-height: $faqTitle-lineHeight800;
        padding-bottom: 30px;
      }

      &__text {
        padding-bottom: 60px;
        max-width: 640px;
        margin: 0 auto;
      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Frequently Asked Questions --------- */
  .faq-wrap {
    padding-top: 100px; /* DESKTOP */
    padding-bottom: 100px; /* DESKTOP */
  }

}


/* --------- Download --------- */
.download-wrap {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;

  .download__img {
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
    }

  }

  .download__block-wrap {
    width: 100%;
    margin: 0 auto;

    .download__block {

      .download__content {
        padding: 0 15px;
        text-align: $downloadContent-textAlign;

        .download__title {
          @extend %mobile-headers;
          padding-top: 40px;
          padding-bottom: 40px;
        }

        .download__text {
          line-height: $downloadText-lineHeight;
          padding-bottom: 50px;
        }

        .download__btns {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          justify-items: center;
          grid-row-gap: 18%;
          height: 134px;
          margin-bottom: 50px;

          img {
            cursor: pointer;
          }

        }

      }

    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Download --------- */
  .download-wrap {
    display: grid;
    grid-template: 100%/49% 50%;
    grid-column-gap: 1%;
    justify-items: end;
    align-items: end;

    .download__block-wrap {
      padding-bottom: 6%;

      .download__block {


        .download__content {

          .download__title {
            font-size: $downloadTitle-fontSize800;
            line-height: $downloadTitle-lineHeight800;
          }

          .download__btns {
            grid-template: 50% 50%/100%;
            grid-row-gap: 25%;
            height: initial;
          }

        }

      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Download --------- */
  .download-wrap {

    .download__block-wrap {

      .download__block {

        .download__content {

          .download__btns {
            grid-template: 100% / repeat(2, 215px);
            justify-content: center;
          }

        }

      }

    }

  }

}

/* Min-Width 1200px */
@include respond-to('minW-1200px') {
  /* --------- Download --------- */
  .download-wrap {

    .download__block-wrap {
      padding-left: 10%;
    }

  }

}


/* --------- Footer --------- */
.footer-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $footerWrap-bgc;
  position: relative;

  .footer__img {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;

    img {
      max-width: 100%;
      height: auto;
    }

  }

  .footer {
    display: grid;
    grid-template: 30% 30% 30% 10% / 100%;
    justify-items: center;
    align-items: center;
    padding: 50px 0;

    &__logo {
      @extend %logo;
      padding-bottom: 50px;
    }

    .footer-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 50px;

      &__item {
        line-height: $footerNavItem-lineHeight;
        color: $footerNavItem-color;
        padding: 0 10px;
        position: relative;

        & span {
          position: relative;
        }

        &:hover {
          transition: color .2s;

          span::after {
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            width: 100%;
            height: 3px;
            background-color: #fff;
          }

        }

      }

    }

    .footer-social {
      display: grid;
      grid-template: 1fr / repeat(4, 1fr);
      padding-bottom: 50px;

      &__item {
        font-size: $footerSocialItem-fontSize;
        color: $footerSocialItem-color;
        padding: 0 8px;

        &:hover {
          color: $footerSocialItemHover-color;
          transition: color .3s;
        }

      }

    }

    .copy {
      font-size: $copy-fontSize;
      line-height: $copy-lineHeight;
      color: $copy-color;
      text-align: $copy-textAlign;
      opacity: $copy-opacity;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  /* --------- Footer --------- */
  .footer-wrap {

    .footer__img {
      width: 50%;
    }

  }

}


/* --------- Back To Top Button --------- */
.to-top {
  display: inline-block;
  background-color: $toTop-bgc;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: $toTopAfter-fontSize;
    line-height: $toTopAfter-lineHeight;
    color: $toTopAfter-color;
  }

  &:hover {
    cursor: pointer;
    background-color: $toTopHover-bgc;
  }

  &:active {
    background-color: $toTopActive-bgc;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  /* --------- Back To Top Button --------- */
  #to-top {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;

    &::after {
      line-height: $toTopAfter-lineHeight900;
    }

  }

}
