@import '_reset';
@import '_variables';
@import '_mixins';
@import '_common';

/* --------- Header --------- */
/* Logo-Nav */
.logo-nav {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25% 75%;
  position: relative;

  height: 65px;

  padding-top: 15px;

  &__logo {
    font-size: $logoNavLogo-fontSize;
    font-weight: $logoNavLogo-fontWeight;
    color: $logoNavLogo-color;

    span {
      color: $logoNavLogoSpan-color;
    }

  }

  &__nav {
    display: none;

    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 100;

    &.active {
      display: block;
    }

  }

  .nav__item {
    color: $navItem-color;
    line-height: 2.5em;
    display: block;
    padding-left: 1em;

    background-color: $navItem-bgc;

    &:hover {
      background-color: $navItemHover-bgc;
      transition: background-color .1s linear;
    }

  }

}

/* Nav-Toggle */
.nav-toggle {
  width: 35px;
  height: 50px;
  display: block;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 13px;
  right: 20px;

  &:focus {
    outline: none;
  }

  &__item {
      display: block;
      width: 100%;
      height: 5px;

      background-color: #ccc;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      transition: background .2s linear;

      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 5px;

        background-color: $navToggleBeforeAfter-bgc;

        position: absolute;
        left: 0;
        z-index: 1;

        transition: transform .2s linear;
      }

      &::before {
        top: -10px;
      }

      &::after {
        bottom: -10px;
      }

  }

  &.active &__item {
    background: none;

    &::before {
      transform: rotate(-45deg) translate(-7px, 6px);
    }

    &::after {
      transform: rotate(45deg) translate(-8px, -8px);
    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {

  /* Navigation */
  .logo-nav {
    padding-top: 115px;

    &__nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: static;
    }

    .nav__item {
      display: inline-block;
      line-height: 3em;

      background: none;

      &:hover {
        background: none;
        color: $navItemHover-color;
      }

    }

    .current {
      background-color: $current-bgc;
      color: $current-color;
      font-weight: $current-fontWeight;
      padding: 0 40px;
      border-radius: $current-bdrs;

      &:hover {
        background: $currentHover-bgc;
        color: $currentHover-color;
      }

    }

  }

  .nav-toggle {
    display: none;
  }

}

/* Header Text */
.header-text-wrap {
  background: url(../img/header-bg.png) top/cover no-repeat;
  margin-top: 70px;
  color: $headerTextWrap-color;

  .header-text-phone {
    display: grid;
    justify-items: center;

    .header-text-block__editors-choice {
      background: $headerTextBlockEditorsChoice-bgc url(../img/editors-choice.png) left no-repeat;
      padding-left: 45px;
      font-size: $headerTextBlockEditorsChoice-fontSize;
      line-height: $headerTextBlockEditorsChoice-lineHeight;
      border-radius: $headerTextBlockEditorsChoice-bdrs;
    }

    .header-text-block__title {
      font-size: $headerTextBlockTitle-fontSize;
      font-weight: $headerTextBlockTitle-fontWeight;
      line-height: $headerTextBlockTitle-lineHeight;
      margin: 10px 0 20px 0;
    }

    .header-text-block__slogan {
      margin-bottom: 30px;
    }

    .header-text-block__demo-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .demo-wrap__button {
        display: inline-block;
        background-color: $demoWrapButton-bgc;
        color: $demoWrapButton-color;
        font-weight: $demoWrapButton-fontWeight;
        line-height: $demoWrapButton-lineHeight;
        border-radius: $demoWrapButton-bdrs;
        padding: 0 40px;
        width: 175px;

        &:hover {
          background: $demoWrapButtonHover-bg;
          color: $demoWrapButtonHover-color;
        }

      }

      .demo-wrap__watch-demo {
        color: $demoWrapWatchDemo-color;
        margin-top: 25px;
      }

    }

  }

  .header-phone {
    max-width: 100%;
    height: auto;
  }

}

/* Min-Width 600px */
@include respond-to('minW-600px') {
  .header-text-wrap {
    margin-top: 30px;

    .header-text-phone {
      grid-template-columns: 51% 37%;
      grid-column-gap: 3%;
      justify-content: end;
      align-items: center;
    }

  }

}

/* Min-Width 800px */
@include respond-to('minW-800px') {
  .header-text-wrap {
    margin-top: 70px;

    .header-text-phone {

      .header-text-block__editors-choice {
        width: 367px;
        font-size: $headerTextBlockEditorsChoice800-fontSize;
      }

      .header-text-block__title {
        font-size: $headerTextBlockTitle800-fontSize;
        line-height: $headerTextBlockTitle800-lineHeight;
      }

      .header-text-block__demo-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 350px;
      }

    }

  }

}

/* Min-Width 900px */
@include respond-to('minW-900px') {
  .header-text-wrap {

    .header-text-phone {

      .header-text-block__title {
        font-size: $headerTextBlockTitle900-fontSize;
      }

    }

  }

}
